
<app-header id="navbar"></app-header >
       
<div class="main top-space">

    <!----- header image start --------->
    <div class="recruit-header-panel">
        <img class="rec_img" src="../../assets/images/bg/recruitment-bg.jpg" alt="">
        <div class="recruit-content">
            <div class="recruit-comment">
                <img src="../../assets/images/comment-b.png">
                <h3> 業界初！</h3>
            </div>
            <h1 class="">AIを使った美容サロン業務支援システムの販売員を募集しています</h1>
            <h2>スローガンは、「情熱的（パッション）」「強い個性（スピリット）」<br>
            「熱心（ホット）」そして常に最高（ベスト）を求めます。</h2>
        </div>
    </div>
    <!----- header image end--------->

    <!-------- recruit block start --------->
    <div class="padding-panel recruit-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="recruit-block-text b-s">
                        あなたは、今のあなたに満足していますか？
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5 class="recruit-block-text b-s">
                        もっと目標を高めませんか？
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5 class="recruit-block-text b-s">
                       生活の質、そして安定した収入を得ることができます。
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5 class="recruit-block-text b-s">
                       あなたの希望にお応えできる仕事をご用意しています。
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-------- recruit block end --------->


    <!-------- recruit work panel start --------->
    <div class="recruit-work-panel padding-panel box-bg">
        
        <div class="container">
            <div class="page-heading text-center"><h1>私達と一緒に、働いてみませんか？</h1></div>
            <div class="page-sub-heading text-center"><h5>このような方を求めます</h5></div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">空いた時間を有効に使いたい方</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">毎月安定した収入を希望される方</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">ダブルワークの方</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">シングルマザーとして活躍されたい方</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">子育てから手が離れた方</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="recruit-work-text b-s">もっと仲間と活躍されたい方</div>
                </div>
            </div>
        </div>
       
    </div>
     <!-------- recruit work panel end --------->


    <!-------- recruit description start --------->
    <div class="recruit-description-panel padding-panel">
         <div class="container">
            <div class="page-heading text-center"><h1 class="color-white">仕事内容</h1></div>
             <div class="">
                 <table class="table-gap mb-30">
                    <tr>
                        <td class="light-blue-bg"><h5 class="mb-0">クライアント</h5></td>                                
                        <td class="jts-value-bg">美容室・ネイル、アイラッシュ、エステ、リラクゼーションサロン様</td>
                    </tr>
                    <tr>
                        <td class="light-blue-bg"><h5 class="mb-0">働き方</h5></td>                                
                        <td class="jts-value-bg">働く時間は自分自身で決めることができます</td>
                    </tr>
                    <tr>
                        <td class="light-blue-bg"><h5 class="mb-0">仕事内容</h5></td>                                
                        <td class="jts-value-bg">美容サロン業務支援システムのご紹介<br>契約、システム導入サロンのフォロー</td>
                    </tr>
                    <tr>
                        <td class="light-blue-bg"><h5 class="mb-0">報酬</h5></td>                                
                        <td class="jts-value-bg">完全歩合制</td>
                    </tr>
                 </table>
             </div>
         </div>
    </div>
    <!-------- recruit description end --------->


    <!-------- recruit Reward start --------->
    <div class="padding-panel box-bg recruit-reward-panel">
        <div class="container">
             <div class="page-heading text-center"><h1>報酬について</h1></div>
            <div class="page-sub-heading text-center">
                <h5>
                    JTSボード販売員の報酬はフルコミッション（完全歩合制）です。報酬の100パーセントが自分の業績によって決まります。
                    JTSボードの販売価格は15,000円(税抜)〜30,000円(税抜)です。<br>クライアント様への販売は1年契約が条件です。<br class="d-block d-sm-none">契約終了まで毎月支給されます。（更新可）<br>
                    契約数と歩合還元率は以下となります。
                </h5>
            </div>
            <div class="">
                
                <table class="table-gap">
                    <thead>
                        <tr>
                            <th>契約<br class="d-block d-sm-none">店舗数</th>
                            <th>歩合<br class="d-block d-sm-none">還元率</th>
                            <th>１店舗あたり<br class="d-block d-sm-none">報酬額</th>
                            <th>最大報酬<br class="d-block d-sm-none">(月額)</th>
                            <th>最大報酬<br class="d-block d-sm-none">（年額）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10〜50</td>
                            <td>10%</td>
                            <td>1500円〜3000円</td>
                            <td>75,000〜150,000 円</td>
                            <td>900,000〜1,800,000 円</td>
                        </tr>
                        <tr>
                            <td>51〜100</td>
                            <td>15%</td>
                            <td>2250円〜4500円</td>
                            <td>225,000〜450,000 円</td>
                            <td>2,700,000〜5,400,000 円</td>
                        </tr>
                        <tr>
                            <td>101〜150 </td>
                            <td>20%</td>
                            <td>3000円〜6000円</td>
                            <td>450,000〜900,000 円</td>
                            <td>5,400,000〜10,800,000 円</td>
                        </tr>
                        <tr>
                            <td>151〜200</td>
                            <td>25%</td>
                            <td>3750円〜7500円</td>
                            <td>750,000〜1,500,000 円</td>
                            <td>9,000,000〜18,000,000 円</td>
                        </tr>
                        <tr>
                            <td>201〜500 </td>
                            <td>30%</td>
                            <td>4500円〜9000円</td>
                            <td>2,250,000〜4,500,000 円</td>
                            <td>27,000,000〜54,000,000 円</td>
                        </tr>
                    </tbody>
                </table>

                <p class="mb-30 color-red">最高歩合還元率は30％となります。報酬額に関しては全て税抜となっております</p>
               
            </div>
        </div>
    </div>
    <!-------- recruit Reward start --------->

    <div class="padding-panel ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"><a href="#" data-toggle="modal" data-target="#myModal1" class="btn btn-black join-us-btn mb-30">紹介ではない方はこちらから問い合わせする</a></div>
                <div class="col-lg-6"><a href="#" data-toggle="modal" data-target="#myModal"  class="btn join-us-btn mb-30">紹介者コードをお持ちの方はこちらから応募する</a></div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Contact Us model start-->
<!-- The Modal Staff Detail -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">お問い合わせ </h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--- contact us start ---------->
            <div class="modal-body">
                <form (ngSubmit)="onContact()" [formGroup]="contactForm">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                               <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" class="form-control" 
                                        formControlName="name" placeholder="名前"
                                        [ngClass]="{ 'is-invalid': submitted && !contactForm.get('name').valid }"/>
                                         <!--  <span *ngIf="!contactForm.get('name').valid && contactForm.submitted && contactForm.get('name').touched"></span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" class="form-control"  
                                        formControlName="email"
                                        placeholder="メールアドレス"
                                        [ngClass]="{ 'is-invalid': submitted && !contactForm.get('email').valid }" />
                                        <!-- <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"></span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="tel" class="form-control" 
                                        formControlName="phone"  [textMask]="{mask: mask}" placeholder="電話番号"
                                        [ngClass]="{ 'is-invalid': submitted && !contactForm.get('phone').valid }"/>
                                         <!-- <span *ngIf="!contactForm.get('phone').valid && contactForm.get('phone').touched"></span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" class="form-control" 
                                        formControlName="subject" placeholder="サロンの業種"
                                        [ngClass]="{ 'is-invalid': submitted && !contactForm.get('subject').valid }" />
                                         <!-- <span *ngIf="!contactForm.get('subject').valid && contactForm.get('subject').touched"></span> -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-30">
                                        <textarea name="message"  formControlName="message" placeholder="メッセージ" cols="" rows="6" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && !contactForm.get('message').valid }" >
                                    </textarea>
                                    <!--  <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"></span>   -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="text-center">
                                        <button class="btn">送信する</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- The Modal Contact Us End --->



        <!-- The Modal Staff Detail -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">紹介者コード </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form #my="ngForm"  (submit)="onSubmit()">
                    <div class="modal-body" >
                    
                        <div class="form-group">
                            <input type="text" #usc="ngModel"  [(ngModel)]="log1.unique_sales_code" class="form-control" name="unique_sales_code" placeholder="紹介者コードを入力してください" required></div>
                                <!-- {{log1|json}} -->
                               <div  *ngIf="codeMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="" role="alert"></span>
                        <strong>{{msg}} </strong> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <div class="text-center">
                                <button class="btn mr-20"    (click)="onSubmit()" >送信する</button>
                                <button class="btn" data-dismiss="modal" href="#">閉じる</button>
                            </div>                       
                        
                        </div>
                </form>
                

                </div>
            </div>
        </div>
        <!-- The Modal Staff Detail End --->



      <app-footar></app-footar>

