<app-header></app-header>
       
         <div class="recurit-section-1">
            <!-- <div id="owl-demo" class="owl-carousel"> -->
                <div class="item">
                    <img  class="rec_img" src="../../assets/images/bg/recruitment5.jpg" alt="">
                    <!-- <div class="slider-content">
                        <div class="container">
                            <div class="slider-content-inner">
                                <h1 class="mb-60 slider-text">サロン業務をAIが代行</h1>
                                <h2 class="mb-60 slider-text">オールイン・ワン・パッケージ</h2>
                                <h4 class="mb-60 slider-text">顧客管理・売上管理・経費管理・勤怠管理・目標管理</h4>
                                <ul class="top-app-links">
                                    <li><a href="#"><img   src="images/app-links-img/app-store-btn.png"></a></li>
                                    <li><a href="#"><img   src="images/app-links-img/google-play-btn.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            <!-- </div> -->
        </div>
        <div class="recurit-section-2">
          <div class="recurit-section-2-panel white-over padding-panel">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12 col-md-9 col-sm-10">


                          <div class="row justify-content-center text-center">
                              <div class="">
                                 
                                  <ul class="recurit-section-2-list">
                                      <li>あなたは、今のあなたに満足していますか？</li>
                                      <li>もっと目標を高めませんか？</li>
                                      <li>生活の質、そして安定した収入を得ることができます。</li>
                                      <li>あなたの希望にお応えできる仕事をご用意しています。</li>
                                  </ul>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>

          </div>
      </div>
     
      <div class="advantage-panel box-bg padding-panel">  
          <div class="container">
              <div class="page-heading text-center"><h1>私達と一緒に、働いてみませんか？</h1></div>
              <div class="page-heading text-center mb-40"><h3>このような方を求めます</h3></div>
              <div class="row justify-content-center text-center">
                      <div class="col-lg-12 col-md-9 col-sm-10">


                          <div class="row justify-content-center">
                              <div class="">
                                 
                                  <ul class="recurit-section-3-list">
                                      <li>空いた時間を有効に使いたい方</li>
                                      <li>毎月安定した収入を希望される方</li>
                                      <li>ダブルワークの方</li>
                                      <li>シングルマザーとして活躍されたい方</li>
                                      <li>子育てから手が離れた方</li>
                                      <li>もっと仲間と活躍されたい方</li>
                                  </ul>
                              </div>
                          </div>


                      </div>
                  </div>
          </div> 
      </div>


      <div class="recurit-section-4 padding-panel">   
          <div class="container">
               <div class="page-heading text-center"><h1 style="color: #ffffff;">仕事内容</h1></div>
              <div class="container-x">
              <table class="recurit-section-4-table mb-30">
                  <tbody>
                      <tr>
                          <td class="function-name-bg">クライアント</td>
                          <td>美容室・ネイル、アイラッシュ、エステ、リラクゼーションサロン様</td>
                      </tr>
                      <tr>
                          <td class="function-name-bg">働き方</td>
                          <td>働く時間は自分自身で決めることができます</td>
                      </tr>
                      <tr>
                          <td class="function-name-bg">仕事内容</td>
                          <td>美容サロン業務支援システムのご紹介<br>契約、システム導入サロンのフォロー</td>
                      </tr>
                      <tr>
                          <td class="function-name-bg">報酬</td>
                          <td>完全歩合制</td>
                      </tr>
                      
                  </tbody>
              </table>
          </div>
          </div>
      </div>

 

      <div class="advantage-panel box-bg padding-panel">   
          <div class="container">
               <div class="page-heading text-center"><h1 style="text-transform: capitalize; font-weight:600; color: #000; ">報酬について</h1></div>
               <div class="page-sub-heading text-center">
                   <h5>JTSボード販売員の報酬はフルコミッション（完全歩合制）です。給与の100パーセントが自分の業績によって決まります。
                        JTSボードの販売価格は15,000円(+消費税）です。<br>クライアント様への販売は1年契約が条件です。契約終了まで毎月支給されます。（更新可）
                        契約数と歩合還元率は以下となります。</h5></div>
               <div class="container-x">
              <table class="recurit-section-5-table mb-30">
                <thead>
                    <tr>
                        <th><span style="color: #fff"></span>契約店舗数</th>
                        <th><span style="color: #fff">歩合還元率</span></th>
                        <th><span style="color: #fff">１店舗あたり報酬額</span></th>
                        <th><span style="color: #fff">最大報酬</span></th>
                    </tr>
                </thead>
                  <tbody>
                      <tr>
                          <td>10-50</td>
                          <td>5%</td>
                          <td>750 円</td>
                          <td>37,500 円</td>
                      </tr>
                      <tr>
                          <td>51-100</td>
                          <td>10%</td>
                          <td>1,500 円</td>
                          <td>1,50,000 円</td>
                      </tr>
                      <tr>
                          <td>101-150</td>
                          <td>15%</td>
                          <td>2,250 円</td>
                          <td>3,37,500 円</td>
                      </tr>
                      <tr>
                          <td>151-200</td>
                          <td>20%</td>
                          <td>3,000 円</td>
                          <td>60,00,000 円</td>
                      </tr>
                      <tr>
                          <td>250-500</td>
                          <td>25%</td>
                          <td>3,750 円</td>
                          <td>18,75,000 円</td>
                      </tr>
                      
                  </tbody>
              </table>
              <div class="page-sub-heading "><h5>  最高歩合還元率は25%となります。</h5> 
            </div>
          </div>
          </div>
      </div>

      <div class="recurit-section-6">
          <div class="recurit-section-6-panel white-over padding-panel">

              <div class="container">
                <div class="page-heading text-center mb-40"><h3>詳しくは、下記までお問い合わせくださいませ。</h3></div>
                  <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-9 col-sm-10">
                          <div class="row justify-content-center text-center">
                            <a routerLink="/register" class="btn recruit-section-6-btn">今すぐ応募する</a>
                          </div>


                      </div>
                  </div>
              </div>

          </div>
      </div>

      <app-footar></app-footar>