
    <!---- header start here ----------->
    <div class="header">

        <div class="container">
            <div class="header-top">美容室・サロン専用のAIによるサロン管理・顧客管理POSシステム</div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="index.html" class="brand-logo">
                        <img src="../../assets/images/main-logo-header.png">
                    </a>
                </div>
                <div class="col-sm-9">
                    <div class="right-header">
                        <div class="col-right-header">
                            <h5>メールサポート</h5>
                            <h4><a href="mailto:info@jtsboard.com">info@jtsboard.com</a></h4>
                        </div>
                        <div class="col-right-header">
                            <h5>サポートに電話する</h5>
                            <h4>052.485.4301</h4>
                        </div>
                        <div class="col-right-header">
                            <h5>勤務時間</h5>
                            <h4>月曜〜土曜 10:00 - 20:00</h4>
                        </div>
                        <div class="col-right-header-btn">
                            <a href="#" class="btn mb-10">無料トライアル</a>
                            <ul class="header-link">
                               <li><a href="#"><i class="far fa-envelope"></i> お問い合わせ</a></li>
                               <li><a href="#"><i class="far fa-user"></i> ログイン</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--- top nav----->
        <div class="top-nav">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">家 <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">特徴</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">価格設定</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              サービス
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="#">アクション</a>
                              <a class="dropdown-item" href="#">もう一つの行動</a>
                              <a class="dropdown-item" href="#">ここで何か他のもの</a>
                            </div>
                          </li>                          
                          <li class="nav-item">
                            <a class="nav-link" href="#">お問い合わせ</a>
                          </li>
                        </ul>
                      </div>
                </nav>
            </div>
        </div>
        <!--- top nav----->

    </div>
    <!---- header end here ----------->
