<nav class="navbar navbar-expand-lg navbar-light" id="myHeader">
  <div class="container">            
      <div class="left-header">
          <p class="header-line mb-0">美容室・サロン専用のAIによるサロン管理・顧客管理POSシステム</p>
          <div class="d-flex ">
              <a class="navbar-brand" href="#"><img src="../assets/images/jts-board-logo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-sm-none d-none">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#">About Us</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#">Services</a></li>
                        <li class="nav-item active"><a class="nav-link" routerLink="/conference">conference</a></li>
                        <!-- <li class="nav-item active"><a class="nav-link" href="#">Blog</a></li> -->
                    </ul>
                </div>
              
          </div>

      </div>
      <div class="right-header d-flex ">
          <div class="call-detail text-center">                    
              <p class="mb-0">ご相談・ご質問をお気軽にどうぞ。</p>
              <ul class="number-detail">
                  <li class="phone-icon">
                      <!-- <i class="fas fa-phone-square"></i> -->
                      <img src="../assets/images/icons/phone.png">
                  </li>
                  <li>
                      <span class="phone-number">052-485-4301</span>
                      <p class="timing mb-0">受付時間：平日10:00 ~ 20:00</p>                            
                  </li>
              </ul>
          </div>
          <div class="contact-buttons text-right">
              <a href="#" class="btn mb-10">無料トライアル</a>
              <ul class="header-buttons">
                  <li><a href="#"><i class="far fa-envelope"></i> お問い合わせ</a></li>
                  <li><a routerLink="/login"><i class="far fa-user"></i>ログイン</a></li></ul>
          </div>
      </div>
    
  </div>
  <div class="collapse navbar-collapse mobile-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item active"><a class="nav-link" href="#">Services</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/conference">Conference</a></li>
            <li class="nav-item active"><a class="nav-link">Contact Us</a></li>
            <!-- <li class="nav-item active"><a class="nav-link" href="#">Blog</a></li> -->
        </ul>
    </div>
</nav>
