<app-header></app-header>
<div class="main top-space">


    <!---- registration Start ------->
    <div class="registration-panel padding-panel box-bg">     
        <div class="container">
            <div class="white-bg">
                <div class="page-heading text-center"><h1>契約フォーム</h1></div>
                <div class="page-sub-heading text-center">
                    <h5 class="primary-color">
                       契約のお申し込み
                    </h5>
                </div>  
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9">
                            <form ngForm="registerForm" (submit)="onRegister(reg)">
                        <div class="row">
                    
                            <div class="col-sm-12">
                                    <div class="form-group mb-30">
                                        <input type="text" class="form-control"name="master_sales_code" 
                                        [(ngModel)]="reg.master_sales_code"
                                        placeholder="{{rform.master_sales_code}}" value="{{rform.master_sales_code|json}}"  readonly="readonly">
                               <!-- {{rform.master_sales_code}} -->
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                    <input type="text" 
                                    [(ngModel)]="reg.kana"
                                     #kana="ngModel"
                                    class="form-control"  
                                    name="kana" placeholder="ふりがな"  required>
                                    <span class="help-block" *ngIf="!kana.valid && kana.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                     [(ngModel)]="reg.kanji"
                                     #kanji="ngModel"
                                    class="form-control" name="kanji" placeholder="氏名" required>
                                    <span class="help-block" *ngIf="!kanji.valid && kanji.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                    
                                    class="form-control" 
                                    [(ngModel)]="reg.tel"name="tel"
                                    #tel="ngModel"
                                     placeholder="携帯番号" required>
                                     <span class="help-block" *ngIf="!tel.valid && tel.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="email" [(ngModel)]="reg.email" 
                                    #email="ngModel"
                                    class="form-control"  placeholder="メールアドレス"  name="email" required >
                                    <span class="help-block" *ngIf="!email.valid && email.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                    [(ngModel)]="reg.dob"
                                    #dob="ngModel"
                                    class="form-control" name="dob" placeholder="生年月日   年    月    日" required>
                                    <span class="help-block" *ngIf="!dob.valid && dob.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text"
                                    [(ngModel)]="reg.password" 
                                    #password="ngModel"
                                    class="form-control"  name="password" placeholder="パスワードを作成（半角英数６桁）" #email="ngModel" required minlength="6">
                                    <span class="help-block" *ngIf="!password.valid && password.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                    [(ngModel)]="reg.confirm_password"
                                    #confirm_password="ngModel"
                                    class="form-control"  name="confirm_password" placeholder="パスワードを再入力（確認用）" required>
                                    <span class="help-block" *ngIf="!confirm_password.valid && confirm_password.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                    [(ngModel)]="reg.zip_code"
                                    #zip_code="ngModel"
                                    class="form-control"  name="zip_code" placeholder="郵便番号" required>
                                    <span class="help-block" *ngIf="!zip_code.valid && zip_code.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-30">
                                    <input type="text" 
                                    [(ngModel)]="reg.address"
                                    #address="ngModel"
                                    class="form-control" name="address" placeholder="住所 " required>
                                    <span class="help-block" *ngIf="!address.valid && address.touched">Enter the value hear box is empity.</span>
                                </div>
                            </div>
                            

                            <div class="col-sm-12 mb-30"><hr></div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>運転免許証の写真を表側、裏側を選択してアップロードしてください</label>
                                </div>
                            </div>                                
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <label>表：</label>
                                    <input type="file" 
                                    [(ngModel)]="reg.dl_front_img"
                                    #dl_front_img="ngModel"
                                    class="form-control" 
                                     name="dl_front_img" required>
                                     <span class="help-block" *ngIf="!dl_front_img.valid && dl_front_img.touched">Value is empity.</span>
                                    <!-- W64
                                     <input class="form-control" [(ngModel)]="frontImage" name="frontImage" #abc="ngModel" type="file" accept="image/*" (change)="changeListener($event)" required> -->
                                     <!-- <span class="help-block" *ngIf="!abc.valid && abc.touched">Value is empity.</span> -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <label>裏：</label>
                                    <input type="file" class="form-control" 
                                    [(ngModel)]="reg.dl_back_img"
                                    #dl_back_img="ngModel"
                                    name="dl_back_img" required>
                                    <span class="help-block" *ngIf="!dl_back_img.valid && dl_back_img.touched">Value is empity.</span>
                                </div>
                            </div>

                            <div class="col-sm-12 mb-30"><hr></div>

                            <div class="col-sm-12">
                                <div class="page-sub-heading text-center">
                                    <h5 class="primary-color">
                                       銀行口座情報入力 
                                    </h5>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.bank_name"
                                    #bank_name="ngModel"
                                   name="bank_name" placeholder="金融機関名" required>
                                    <span class="help-block" *ngIf="!bank_name.valid && bank_name.touched">Value is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control"
                                    [(ngModel)]="reg.bank_name_kana"
                                    #bank_name_kana="ngModel"
                                    name="bank_name_kana" placeholder="金融機関名（カナ）" required>
                                    <span class="help-block" *ngIf="!bank_name_kana.valid && bank_name_kana.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.bank_number"
                                    #bank_number="ngModel"
                                    name="bank_number" placeholder="金融機関コード" required>
                                    <span class="help-block" *ngIf="!bank_number.valid && bank_number.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.branch"
                                    #branch="ngModel"
                                    name="branch" placeholder="支店名" required>
                                    <span class="help-block" *ngIf="!branch.valid && branch.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.branch_kana" 
                                    #branch_kana="ngModel"
                                    name="branch_kana" placeholder="支店名（カナ）" required>
                                    <span class="help-block" *ngIf="!branch_kana.valid && branch_kana.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.branch_code"
                                    #branch_code="ngModel"
                                    name="branch_code" placeholder="支店コード" required>
                                     <span class="help-block" *ngIf="!branch_code.valid && branch_code.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <select class="form-control" 
                                    [(ngModel)]="reg.what_kind_of_bank"
                                    #what_kind_of_bank="ngModel"
                                    name="what_kind_of_bank" required>
                                        <option selected="selected" disabled="disabled">預金種類</option>
                                        <option value="普通預金">普通預金</option>
                                        <option value="当座預金">当座預金</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.account_number"
                                    #account_number="ngModel"
                                    name="account_number" placeholder="口座番号" required>
                                     <span class="help-block" *ngIf="!account_number.valid && account_number.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.account_holder_name_kana"
                                    #account_holder_name_kana="ngModel"
                                    name="account_holder_name_kana" placeholder="口座名義（カナ）" required>
                                    <span class="help-block" *ngIf="!account_holder_name_kana.valid && account_holder_name_kana.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input type="text" class="form-control" 
                                    [(ngModel)]="reg.account_holder_name"
                                    #account_holder_name="ngModel"
                                    name="account_holder_name" placeholder="口座名義" required>
                                     <span class="help-block" *ngIf="!account_holder_name.valid && account_holder_name.touched">Enter the Value input Box is empity.</span>
                                </div>
                            </div>

                             <div class="col-sm-12 mb-30"><hr></div>

                            <div class="col-sm-12">
                                <div class="page-sub-heading text-center">
                                    <h5 class="primary-color">
                                       ご確認項目 
                                    </h5>
                                </div>
                                <p class="mb-30">
                                    以下、ゼンエルディーンインターナショナル株式会社との営業代行契約書です。必ず確認の上、お申し込みください。
                                </p>
                                <div class="contract-content border mb-30">
                                    <p class="mb-20">計言ヨキロヘ高法ぽぴず理藤ヱタ脱追ヘアテフ寿禁コクウ作細っレょ禁際こドむば紙問づうい止済エノ容歴オ掲9必マリミ提進ゅっ析内どすクン供展ラルシソ芸内リキサト絡誌供キラモ策携抽綱都るろぼに。強リ学会たゆンぱ歳4内ぽ端病ゅやまぼ無庭リ悪的散さげ迫上2込ぶべじ防78大れッ回治真能査ハケユ児区組跡トびリ。</p>

                                    <p class="mb-20">在なん極材めぶぼ授自豊ス書81百ノ講井ヨ電制サ仕聞見ユヲ込凄レ更国オソフス意使少調ゃラこべ。暮ん米地ヨキオホ斎禁づにば住続じゅルお変郷トがあ索映メ報続ば県外しッラや毎裏えかし力91載をーぎ被馬ソ知無げでゆぼ取茸会能ぽっえ県探れおの生分キヨ芸体ろこべげ。選覧部をなぼ真先ハメオフ更弘校ヤツ質出シ少1効むー月数度提レスナ可昇表ふゃぞば。</p>

                                    <p class="mb-20">本なべ起昭トネ速全ょ古南かげん惑念かび地治広二コフ厚前やぞ涼転力にちべよ対52知オクラ好与丹庄じ。綏じかぴみ表強6文ヒウ伝付コクチ日府ょ設棋さばも品自ウ料普セチヨ員天説74弁盾49発ヘイセ辞白ウヤ問知ーべ定詳ぼイち責委極断スな。断能のをン県場含ん青県アテ安愛ヒ事類元うがもの隊4料ぱよ購府ばぱレぎ員向ウ者写サ整断つ掲年メ暮棋夫フじり。</p>

                                    <p class="mb-20">条マフリ争乱19載ツサネモ務止真ハフヒシ化2図戦南成トヘ上魅リおさ置20闘メト歴躍てぴ名4義おず生総かラ住5書ひで現必傳呈播めンつし。情ドあげ九戦ぴなにラ属達リルメロ物国スぱ景電ク税配スコ遇経ホケリ明登ネノヘ日年るラ級逮ゆドへや催南寺みン語下ハ直事れひよ総器ルヘス岡書ネヱ舗少ハヲケコ押前ぼふドけ固土ろひごク展断へ宿超党針ものがす。</p>

                                    <p class="mb-20">状りたざひ調定ヒホハチ第41五こなま者7複き室断言くむぴ上語4今立ニヨ幹稚冊にいょド。保30詳お関高どドょぎ進芸田ウ稿住著ん政5年ニウネノ縄響ホ問住シムフ躍撃主ラノ道託か風表ぴおぱ園切辞ほどの。表ラぱ詳滋コネシヲ再的検ル引印エ家意ア人心に千芸ニミ氷増ソ上確ク航東ぶがわ戦組ぴめ月活ムケヲネ向期せはえフ全載せ症夏し慎市エトル裁要よお献頭謙奏訳っラびざ。</p>

                                    <p class="mb-20">入えるら議囲テリトロ注地ぐざすぎ立型ぞ診志ニ使1年チスア料前ナ内気レト行探もッうク歩法ルづ更走スぽょリ文志ワエレ問形ロ麻負応政めゃもう的町オソスケ集質ツ念松ぼ。越かむ南性ぐレばぱ読中原裁あっこみ中景ヤラキネ世39倉ネウナ回意チメ農層めう犯子マセニル首第おま沈45投ぴトぜぐ内視ゆフづ情社葉了ロ転表典伺屯ぎたろ。</p>

                                    <p class="mb-20">初著ヨトワツ比楽コタテマ問到スづリ行拡エキヘマ年点ぼめあ手探ぽつ浮当スラひ記58事チフ撮謙マオ前覧ねルンど准団わクリゅ墓選ま魂29済つゆー博限いラへ朝格92南かがせぎ反版始県ぴドげ。宿ぱ真28見ヒタコヘ英光質ンス地年ル号査ハクス告意すさぼク属送ヌクヒム南活ヤウ局考第ムリ暮証ラト菱早ゃリ手並サチハル様4広伝以ミテヱシ質載融ず。</p>

                                    <p class="mb-20">類フ政石辺ッ記変ねど大実ごそめ宏責セス手金オ防軽ウキヲリ禁投業活ーゆ利埋年そきびふ断四せ演54護へ学方員クそむは劇克即ぜ。独マカフ北渋レケサツ化数ヒユ音宮ほしまぶ灯拡シ近9画ずぼぴ登音ヤ番併ホヌレ電比ぽふざ適売ぞつ択少努2読トア芸9挑各る。獲ロ躍断へ作全べ断書語ネルカ断省ぱゆえす愛械ねレ確初ユイ万著ソ府作なえール雪解だートは型事5頭去塩きつけび。</p>

                                    <p class="mb-20">氏歳ヘコネワ浴更たも志引フこリ必動あはなか利受断にを知闘フオマ試素てど処海ケヤミ市4寄かぼ一目策経ナラフ都滝セテ王6僚弱招操らじぶ。教ツリオラ能地治モサレ権戒ユエヲ社発真が闘経ろク真兵ーめ仙5進ケホタレ備知キハ断会開たるね質1未ロサノ阪哲控魅機ご。玲を者騎テセチケ面勢ちすス森聞ついぼあ根業エレニオ非物をゅがイ囲熱オアヱミ検技せトうあ就96記上めゅゆ競真違ぜぶぞ月訃も提展ムキ相晶む。</p>

                                    <p class="mb-0">野判コトフテ美軍りた時禁ロテソル家楽メ皇3踊ぱイ遇外ヒルキラ舅前ヨ健蒲ぞりうざ供確フむりわ下来ツヒル見5叙孟悠えだ。区げりあみ社通くご情脳ヨモメ同活局へえーひ皇生サナ視覧テ業覧わろけみ航下ナヤ国検想リメミウ需95要渡をらであ管社レウ次必シセウ超化ヤノ生宇油害ひ。発稿ぼにげば胎座クづ性力レ対油ごフり文衣さひいる稿阪光かゆけ書明年ウナカ連撤ほれ捨電か続飛帯え。</p>
                                </div>
                                <div class="form-group">
                                    <h6 class="mb-0"><input type="checkbox" id="agree" required> <label class="ml-10 color-red" for="agree">同意します</label></h6>
                                </div>
                                <div class="mb-30"><hr></div>
                                <div class="text-center">
                                    <button type="submit"  class="btn join-us-btn">規約に同意して確認画面へ</button>
                                </div>
                            </div>
                           
                        </div>
                    </form>

                    </div>
                </div>
            </div>
            
        </div>           

    </div>
    <!---- registration end ------->
    
</div>
<app-footar></app-footar>