<div class="thank-panel box-bg">
  <div class="thank-inner-panel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">  
            <div class="loginMain thank-content text-center b-s">
                  <div class="compLogo text-center mb-40 mt-20">
                    <a routerLink="/"><img src="../../assets/images/jts-board-logo.png"/></a>
                  </div>
                  <div class="success text-center mt-20">
                    <h5 class="mb-40">ご登録ありがとうございました。<br> 
                     お客様のメールアドレス宛に登録確認メールを送信いたしました。メール内のリンクを開き、サロン情報設定を行って下さい。</h5>
                  </div>
                  <div class=""><a href="" routerlink="/" class="btn">ホームに戻る</a></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>