<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">  
          <div class="loginMain">
                  <div class="compLogo text-center mb-50 mt-20">
                   <a routerLink="/"><img src="../../assets/images/jts-board-logo.png"/></a>
                  </div>
                <div class="success text-center mt-20">
                    <p>ご登録ありがとうございました。<br> 
                   お客様のメールアドレス宛に登録確認メールを送信いたしました。メール内のリンクを開き、サロン情報設定を行って下さい。</p>
                </div>
          </div>
      </div>
    </div>
  </div>
 