<app-header id="navbar"></app-header>
<div class="main top-space">
<div class="newspaper-panel box-bg padding-panel">
    <div class="container">
        <div class="page-heading text-center"><h1>サロン予約はどうしていますか？</h1></div>
        <div class="row">
            <div class="col-sm-8 col-lg-6 mb-30">        
                <p class="mb-10"> こんにちは、広報担当のYUKIです。</p>
                <p class="mb-10"> 今日もJTSBoardの機能をご紹介しますね！</p>

                <p class="mb-10"> みなさんはサロンの予約管理、どうされていますか？？</p>

                <p class="mb-10"> 小規模サロン様やオーナー１人のサロン様ほど、</p>
                <p class="mb-10">あれやこれやとやることがたくさんで</p>
                <p class="mb-10">電話に出ようもんなら、お客様を待たせてしまう。。。。と</p>
                <p class="mb-10">ストレスをためたことがあるのではないでしょうか？？？</p>

                <p class="mb-10">スマートフォンの普及によって、</p>
                <p class="mb-10">ネット予約はごくごく当たり前のものになりました。</p>

                <p class="mb-10">電話対応お時間が減ることで、生産性があがりますし、</p>
                <p class="mb-10">よりよい施術に専念できます。</p>

                <p class="mb-10">それに実はサロン検索＆サロン予約が一番多いのは夜の時間帯という</p>
                <p class="mb-10">統計もとれているんです。</p>

                <p class="mb-10">ということは、</p>
                <p class="mb-10">その時間帯に電話受付ができないということは</p>
                <p class="mb-10">非常に機会損失が多いってことなのです。</p>

                <p class="mb-10">日々のサロンワークと電話対応に追われている方も</p>
                <p class="mb-10">WEB予約を利用することでストレスフリーに。</p>
                <p class="mb-10">しかもＭＩＲＡＩは業界初のＡＩ搭載予約アプリなので、</p>
                <p class="mb-10">ユーザー層の評価も◎</p>

                <p class="mb-10">なにこれ！？かわいい</p>
                <p class="mb-10">すっごく使いやすい！！！！</p>
                <p class="mb-10">そんな声をいただいています。</p>
                <p class="mb-10">そんなＭＩＲＡＩがいよいよリリースされますよ。</p>
                <p class="mb-30">こうご期待♪</p>
                
               
                <p class="mb-10">サロン予約は次世代アプリできまりっ！！！</p>

            </div>
            <div class="col-sm-4 col-lg-6 mb-30"><img src="../../assets/images/app-blog/サロン予約はどうしていますか.png"></div>
        </div>
    </div>
</div>
</div>
<app-footar></app-footar>