<div class="wrapper">       

  <!-- Page Content Holder -->
  <div id="content">

      <div id="logreg-forms">
          <form (ngSubmit)="onSignin(signinForm)" [formGroup]="signinForm">
              <h1 class="h3 mb-3 font-weight-normal text-center"> Sign in</h1>
             
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Email address" required>
                <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please enter  Name !!!</span>
              </div>

              <div class="form-group">
                <input  type="text" formControlName="password" class="form-control" placeholder="Password" required>
                <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">Please enter  password !!!</span>
              </div>

              <div class="form-group">
                <button class="btn btn-md btn-rounded btn-block form-control submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
              </div>

              <a href="#" id="forgot_pswd">Forgot password?</a>
              <hr>
              <!-- <p>Don't have an account!</p>  -->
              <button class="btn btn-primary btn-block" type="button" routerLink="/signup" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
          </form>

          <form action="#" class="form-reset">
              <div class="form-group">
                  <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
              </div>
              <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
          </form>
      </div>

  </div>
</div>