<div class="wrapper">       

  <!-- Page Content Holder -->
  <div id="content">

      <div id="logreg-forms">
          <form class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal text-center"> Sign in</h1>
             
              <div class="form-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
              </div>

              <div class="form-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
              </div>

              <div class="form-group">
                <button class="btn btn-md btn-rounded btn-block form-control submit" (click)="onSignin()" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
              </div>

              <a href="#" id="forgot_pswd">Forgot password?</a>
              <hr>
              <!-- <p>Don't have an account!</p>  -->
              <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
          </form>

          <form action="#" class="form-reset">
              <div class="form-group">
                  <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
              </div>
              <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
          </form>

          <form action="#" class="form-signup">
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Salon name" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
              </div>
              <div class="form-group">
                  <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
              </div>
              <div class="form-group">
                  <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" required autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Employee Pin Number" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Customer Pin Number" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Zip Code" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Perfecture" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="City" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Address1" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Address2" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Phone" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Website" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Employee Number" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Advertisment" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="Advertisment" required="" autofocus="">
              </div>
              <div class="form-group">
                  <input type="text" id="user-name" class="form-control" placeholder="AVR Customer" required="" autofocus="">
              </div>

              <div class="form-group">
                <button class="btn btn-md btn-block submit" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
              </div>

              <a href="#" id="cancel_signup" class=""><i class="fa fa-angle-left"></i> Back</a>
          </form>
      <br>

      </div>

  </div>
</div>