<app-header></app-header>
<div class="main top-space">

  <div class="padding-panel box-bg">
    
    <div class="container">
      <div class="white-bg">
        <div class="page-heading text-center"><h1>COMING SOON!</h1></div>
        <div class="page-sub-heading text-center">
          <h5>
              Our website is under construction. We`ll be here soon with our new awesome site.
          </h5>
          <img src="../../assets/images/under-construction.jpg">
        </div>
      </div>
    </div>

  </div>

</div>
<app-footar></app-footar>