<app-header id="navbar"></app-header>
<div class="main top-space">
<div class="newspaper-panel box-bg padding-panel">
    <div class="container">
        <div class="page-heading text-center"><h1>AI Beauty Innovation seminer2020を開催</h1></div>
        <div class="row">
            <div class="col-sm-8 col-lg-6 mb-30">
              <p>こんにちは、広報担当の<strong class="black-color">YUKI</strong>です。</p>
              <p>先週の水曜日、ウインク愛知にて第一回目のセミナーを開催しました。</p>
              <p>多くのオーナーさま、美容代理店さまにご参加いただきました。</p>
                  <p>本当にありがとうございます。</p>
                  <p>当日は東京本社のエンジニアチームも助っ人として登場し、</p>
                      <p><strong class="black-color">AI</strong>とは何か？</p>
                      <p><strong class="black-color">AI</strong>は実際に何ができる？</p>
                      <p>
                        など、<br>
                        デモンストレーションも踏まえ、<br>
                        商品のご案内をさせていただきました。
                      </p>
              <p><strong class="black-color">AI、</strong>システム、</p>
              <p>
                と聞くと<br>
                  なんだか難しそうな気がしちゃいます！？笑
              </p>
              <p>そんなことはありません。</p>
              <p>私たちがお伝えしたいのは</p>
              <p>人じゃなくてもできる業務はAIに任せて<br>
                施術者はより価値あることに時間を注ぎましょう！！！</p>
              <p>ということなんです。</p>
              <p>価値ある時間とは</p>
              <p>技術力UPの時間であったり<br>
                ホスピタリティ<br>
                創作の時間</p>
              <p>仕事のパフォーマンスを上げるためにも<br>
                プライベートの時間は大切です。</p>
              <p>
                サロンオーナーさん、店長さんのやるべきことというのは尋常じゃないです。<br>
                スタッフ管理<br>
                顧客管理<br>
                売上管理<br>
                新規集客<br>
                ホットペッパービューティー　サロンボードの操作
              </p>
              <p>やりきれるわけがありません。</p>
              <p>サロンさまの未来のために</p>
              <p><strong class="black-color">JTSBoardとMirai</strong> は解決策をご提案します。</p>
              <p>今後は東京・大阪でも開催予定です。<br>
                ぜひともお楽しみに！</p>
            
            
            </div>
            <div class="col-sm-4 col-lg-6 mb-30"><img src="../../assets/images/app-blog/ai-beauty-innovation-seminer2020.jpg"></div>
        </div>
    </div>
</div>
</div>
<app-footar></app-footar>