/*
    JTS Board
*/
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');


body {font-family: 'Sawarabi Mincho', sans-serif;/*background: #fafafa;*/ color: #525252; /*color: #281e05; */font-size: 13px;letter-spacing: 0.025em;}
p {font-size: 1.1em; font-weight: 300; line-height: 1.7em;color: #999;}
a {color: #e7c240;  -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; outline:0 none;}
a:hover, a:focus  {color: #281e05;text-decoration: none;transition: all 0.3s; -webkit-transition: all 0.3s;}
ul {list-style-type: none;padding: 0; margin-bottom: 0;}
img {max-width: 100%;border-style: none;height: auto;width: auto; }
button:focus {outline: 0 none;}

.btn{background: #e7c240;border: none;color: #fff;padding: 10px 30px;font-size: 0.85rem; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; 
   border-radius: 2px;-moz-border-radius: 2px -webkit-border-radius: 2px;}
.btn:hover, .btn:focus {background: #281e05; color: #fff; outline: 0; box-shadow: 0 0 0 0.05rem rgba(40,30,5,.20); -webkit-box-shadow: 0 0 0 0.05rem rgba(40,30,5,.20);} 
.btn-black {background-color: #281e05;}

/*.navbar {padding: 5px 15px;background: #fff;border: none;border-radius: 0;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);}
.navbar-btn {box-shadow: none;outline: none !important; border: none;}
.line {width: 100%;height: 1px;border-bottom: 1px dashed #ddd; margin: 40px 0;}*/
/*.form-group {margin-bottom: 30px}*/
.form-control {border: 1px solid #eee;padding: 10px 15px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px; height: auto;box-shadow: none; 
    font-size: 14px;}
.form-control:focus {color: #525252; background-color: #fff; border-color: #e7c240; outline: 0; box-shadow: 0 0 0 0.1rem rgba(0,0,0,.15); -webkit-box-shadow: 0 0 0 0.1rem rgba(0,0,0,.15);}



.mb-100{margin-bottom: 100px;}
.mb-80{margin-bottom: 80px;}
.mb-60{margin-bottom: 60px;}
.mb-50{margin-bottom: 50px;}
.mb-40{margin-bottom: 40px;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}
.mb-15{margin-bottom: 15px;}
.mb-10{margin-bottom: 10px;}
.mb-5{margin-bottom: 5px;}
.mb-0{margin-bottom: 0 !important;}

.ml-100{margin-left: 100px;}
.ml-80{margin-left: 80px;}
.ml-60{margin-left: 60px;}
.ml-50{margin-left: 50px;}
.ml-40{margin-left: 40px;}
.ml-30{margin-left: 30px;}
.ml-20{margin-left: 20px;}
.ml-15{margin-left: 15px;}
.ml-10{margin-left: 10px;}
.ml-5{margin-left: 5px;}
.ml-0{margin-left: 0 !important;}

.mr-100{margin-right: 100px;}
.mr-80{margin-right: 80px;}
.mr-60{margin-right: 60px;}
.mr-50{margin-right: 50px;}
.mr-40{margin-right: 40px;}
.mr-30{margin-right: 30px;}
.mr-20{margin-right: 20px;}
.mr-15{margin-right: 15px;}
.mr-10{margin-right: 10px;}
.mr-5{margin-right: 5px;}
.mr-0{margin-right: 0 !important;}

.mt-100{margin-top: 100px;}
.mt-80{margin-top: 80px;}
.mt-60{margin-top: 60px;}
.mt-50{margin-top: 50px;}
.ml-40{margin-top: 40px;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}
.mt-15{margin-top: 15px;}
.mt-10{margin-top: 10px;}
.mt-5{margin-top: 5px;}
.mt-0{margin-top: 0 !important;}


.page-heading h1{line-height: 30px;margin: 0 0 40px;padding-bottom: 30px;position: relative;text-transform: uppercase;}
.page-heading h1:before {background: #eee none repeat scroll 0 0;bottom: 0;content: "";display: block;height: 4px;left: 0;margin: 0 auto;position: absolute;right: 0;width: 100px; 
border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;}
.page-heading h1:after {bottom: 0; content: ""; display: block;height: 4px; left: 0;margin: 0 auto; position: absolute; right: 0;width: 60px;background-color: #e7c240; }
.page-sub-heading h5{margin-bottom: 40px;}
.page-sub-heading h5{/*color: #e7c240;*/ line-height: 40px;}
.primary-color {color: #e7c240;}
.border-bottom{border-bottom: 1px solid #eee;}
.border{border: 1px solid #eee;}

.padding-panel {padding-top: 100px; padding-bottom: 70px;}
.white-over {background-color: rgba(255,255,255,0.9);}
.black-over {background-color: rgba(0,0,0,0.05);}
.box-bg {background-image: url(../images/bg/box-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: right center; }
.box-shadow {box-shadow: 0 0 15px rgba(0,0,0,0.25); -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);}

/******* read more ********/
.morecontent span { display: none;}
.morelink {display: block; margin-top: 15px;}




/******* back to top button start ********/

#back-top-button {
  display: inline-block; width: 60px; height: 60px; line-height: 50px; font-size: 36px; text-align: center; border-radius: 2px;
  -webkit-border-radius: 2px; position: fixed; bottom: 10px; right: 10px; color: #fff; background-color: #e7c240;
  -ms-transition: background-color .3s, opacity .5s, visibility .5s; -webkit-transition: background-color .3s, opacity .5s, visibility .5s; 
  -moz-transition: background-color .3s, opacity .5s, visibility .5s; -o-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s; opacity: 0; filter: alpha(opacity=100);visibility: hidden;z-index: 1000;}
#back-top-button .fas { display: inline-block; vertical-align: middle;}
#back-top-button:hover { cursor: pointer; background-color: #281e05; }
#back-top-button:active { background-color: #555;}
#back-top-button.show {opacity: 1; filter: alpha(opacity=100); visibility: visible;}

/******* back to top button end********/




/*************** home page start **************/

.brand-logo {display: inline-block; padding-top: 5px;}
.header-top {padding: 10px 0 5px; font-size: 12px;}
.right-header {text-align: right;}
.right-header .col-right-header {display: inline-block; padding-left: 50px; vertical-align: middle;}
.right-header h5 {font-size: 13px;font-weight: normal; margin-bottom: 6px;}
.right-header h4, .right-header h4 a {color: #525252; font-size: 15px; font-weight: 600;padding-top: 0px;margin-top: 0;}
.right-header h4 a:hover{color: #e7c240;}
.col-right-header-btn {/*float: right; */display: inline-block; vertical-align: middle; /*margin: 18px 13px 0 35px; width: 134px;*/  position: relative; border-left: 1px solid #eeeeee; 
    padding-left: 35px; margin-left: 35px}
.header-link li {display: inline-block; vertical-align: middle;padding-right: 8px;}
.header-link li:last-child {padding-right: 0;}
.header-link li a{font-size: 11px;}


/****** main nav start**********/ 
.top-nav .navbar {background-color: #e7c240;border: 0 none; float: none; margin-bottom: 0; margin-top: 0; min-height: auto; padding:0; padding-left: 20px; position: relative; top:35px;
    z-index: 777;}
.top-nav .navbar-dark .navbar-nav > li > a {color: #fff;display: block; font-weight: 600; font-size: 13px;padding: 15px; position: relative; text-transform: uppercase;}
.top-nav .navbar-dark .navbar-nav > li > a:hover,.top-nav .navbar-nav > li > a:focus{color:#281e05; }
.navbar-expand-lg .navbar-nav .nav-link {padding-right: 15px; padding-left: 15px; }
/****** main nav end **********/


/********* header slider start ********/
.slider-content {position: absolute; top: 50%; left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);transform: translate(-50%, -50%); color: #fff; width: 100%;}
.top-app-links li {display: inline-block; margin-right: 15px; vertical-align: top;}
.slider-content-inner h1 {background: -webkit-linear-gradient(#dcbc4d, #9c7e2e);-webkit-background-clip: text;-webkit-text-fill-color: transparent;-webkit-text-stroke: 0.05rem white;
    text-stroke: 0.01rem white; font-size: 3.6rem;}
/********* header slider end ********/

/********* about panel start*************/
.about-panel {background-image: url(../images/bg/about-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}
.fuction-list {display: flex; flex-wrap: wrap;}
.fuction-list li {padding: 0 15px 30px; width: 50%;}
.fuction-list li a {display: block; color: #fff; text-align: center; font-size: 18px; font-weight: 500; -webkit-border-radius: 2px;  -moz-border-radius: 2px; -o-border-radius: 2px;
    border-radius: 2px; padding: 30px 15px;}

.form-function {background-image: linear-gradient(to right, #5fb663 , #45a149);}
.calendar-function {background-image: linear-gradient(to right, #1ec1d5 , #03aec3);}
.sales-function {background-image: linear-gradient(to right, #aa46bb , #8f25ab);}
.expenses-function {background-image: linear-gradient(to right, #1abc9c , #00a584);}
.staff-function {background-image: linear-gradient(to right, #45aeff , #008efc);}
.chat-function {background-image: linear-gradient(to right, #adad85, #a3a375);}
.form-function:hover,.form-function:focus {background-image: linear-gradient(to right, #45a149 , #5fb663);}
.calendar-function:hover,.calendar-function:focus {background-image: linear-gradient(to right, #03aec3 , #1ec1d5);}
.sales-function:hover,.sales-function:focus {background-image: linear-gradient(to right, #8f25ab , #aa46bb);}
.expenses-function:hover,.expenses-function:focus {background-image: linear-gradient(to right, #00a584 , #1abc9c);}
.staff-function:hover,.staff-function:focus {background-image: linear-gradient(to right, #008efc , #45aeff);}
.chat-function:hover,.chat-function:focus {background-image: linear-gradient(to right, #a3a375 , #adad85);}

.fuction-list li a img {margin-bottom: 20px;}
/***** about panel end***********/

/***** AI-panel start***********/
.AI-panel {background-image: url(../images/bg/AI-support-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; }
.white-bg {background-color: rgba(255,255,255,0.75); padding: 50px 15px; -webkit-border-radius: 2px;  -moz-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px; 
    box-shadow: 0 0 25px rgba(0,0,0,0.20); -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.20); }
.comment-box {position: absolute;top: -50px; left: -70px;}
.comment-box h2{position: absolute;top: 70px; left:0;right:0; color: #fff;}
/***** AI-panel end***********/

/***** advantage-panel start***********/
.advantage-panel {}
.advantage-list li{background-color: #e7c240; text-align: center; font-size: 1.5rem; color: #fff; margin-bottom: 30px; line-height: 120px; -webkit-border-radius: 2px;  
    -moz-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; }
.advantage-list li:hover { box-shadow: 0 10px 15px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.20);}    
/***** advantage-panel end***********/

/***** compare-panel start***********/
.compare-panel {background-color: #c1d2cd;}
.compare-table {border-collapse: separate;border-spacing: 0 10px; width: 100%;}
.compare-table thead tr {background-color: #e2f0ec;}
.compare-table .function-name-bg {background-color: #e2f0ec;}
.compare-table .jts-value-bg {background-color: #fff4cd;}
.compare-table tr {transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; background-color: #fff;}
.compare-table tr:hover {box-shadow: 0 10px 10px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.20);}
.compare-table td, .compare-table th {padding:0.75rem; text-align: center;}
.compare-table td:first-child, .compare-table th:first-child {border-radius: 2px 0 0 2px}
.compare-table td:last-child, .compare-table th:last-child {border-radius: 0 2px 2px 0}
.compare-table .fa-check{color: #149600; font-size: 1.25rem;}
.compare-table .fa-times{color: #c80000; font-size: 1.25rem;}
/***** compare-panel end***********/

/***** case-study-panel start***********/
.case-study-panel {/*background-color: #f5f5f5;*/}
.case-study-item {background-color: #fff;-webkit-border-radius: 2px;-moz-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px; overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.25); -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);}
.cs-content {padding: 15px;}
/***** case-study-panel end***********/

/***** salon-voice-panel start ***********/
.salon-voice-panel {position: relative; background-image: url(../images/bg/salon-voice-bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;}
.salon-voice-content { bottom: 0; background-color: rgba(0,0,0,0.5); left: 0; right: 0; padding: 20px 0; text-align: center;}
.salon-voice-content h4{color: #fff; line-height: 36px;}

/***** salon-voice-panel end ***********/

/***** pricing-panel start ***********/
.pricing-panel {background-image: url(../images/bg/pricing-bg.png); background-size: cover; background-repeat: no-repeat; background-position: left center; }
.pricing-panel .page-heading h1,.pricing-panel .page-sub-heading  h5{color: #fff}
.pricing-inner-panel {background-color: rgba(125,125,80,0.75);}
.basic-plans-heading {text-align: center; background-color: #e7c240; padding: 20px; color: #fff; font-size: 24px; -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px; }
.basic-plans-list li { margin-top: 15px;} 
.basic-plans-list li a{background-color: #fff;display: table;-webkit-border-radius: 2px;-moz-border-radius: 2px; -o-border-radius: 2px;border-radius: 2px;padding: 30px 20px; 
    width: 100%;color: #281e05;}
.basic-plans-list li a:hover {box-shadow: 0 10px 15px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.20);}
.basic-plans-list li a > span { display: table-cell; width: 50%;vertical-align: middle;}
.basic-plans-list li .price-b {font-size: 50px;color: #e7c240;}
.basic-plans-list li .yen {font-size: 18px; vertical-align: middle;}
.basic-plans-list li .tax-label {font-size: 12px;color: #281e05; display: block;color: #999;}


/***** pricing-panel end ***********/

/***** footer start ***********/

.main-footer {}
.footer-top {background-color: #281e05; padding-top: 80px; color: #fff;}
.footer-top .footer-heading{margin-bottom: 30px; color: #debd4e;}
.footer-top .footer-links {margin-bottom: 60px;}
.footer-top .footer-links li{margin-bottom: 10px;}
.footer-top .footer-links li a{color: #fff; font-size: 13px;}
.footer-top .footer-links li a:hover,.footer-top .footer-links li a:focus{color: #debd4e; letter-spacing: 1px;}
.footer-bottom {background-color: #140c02; color: #fff; padding:20px 0 }
.footer-logo {margin-bottom: 10px; display: inline-block;}
/***** footer end ***********/




/*************** home page end **************/




/*************** Recrit page end **************/

.recurit-section-2-list li { background-color: #f5f5f5; text-align: center; font-size: 1.1rem; font-weight: 500; color: #000; margin: 10px; line-height: 80px; -webkit-border-radius: 2px;
    -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; display: inline-block;
    width: 46%;}
.recurit-section-2-list li:hover { box-shadow: 0 10px 15px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.20);} 


.recurit-section-3 {background-image: url(../images/bg/recruitment5.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}
.recurit-section-3-list li { background-color: #fff; text-align: center; font-size: 0.8rem; font-weight: 500; color: #000; margin: 10px; line-height: 80px; -webkit-border-radius: 2px;
    -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; display: inline-block;
    width: 25%; border: 1px solid #f3f3f3;}
.recurit-section-3-list li:hover { box-shadow: 0 10px 15px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.20);}
/***** recurit-section-4 start***********/
.recurit-section-4 {background-color: #7a9ae3;}
.recurit-section-4-table {border-collapse: separate;border-spacing: 0 10px; width: 100%;}
.recurit-section-4-table thead tr {background-color: #e2f0ec;}
.recurit-section-4-table .function-name-bg {background-color: #bfd2ff;}
.recurit-section-4-table .jts-value-bg {background-color: #fff4cd;}
.recurit-section-4-table tr {transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; background-color: #fff;}
.recurit-section-4-table tr:hover {box-shadow: 0 10px 10px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.20);}
.recurit-section-4-table td, .recurit-section-4-table th {padding:0.75rem; font-size: 1.1rem; color: #000000;}
.recurit-section-4-table td:first-child, .recurit-section-4-table th:first-child {border-radius: 2px 0 0 2px;  width: 35%;}
.recurit-section-4-table td:last-child, .recurit-section-4-table th:last-child {border-radius: 0 2px 2px 0; width: 100%;}
.recurit-section-4-table .fa-check{color: #149600; font-size: 1.25rem;}
.recurit-section-4-table .fa-times{color: #c80000; font-size: 1.25rem;}
/***** recurit-section-4 end***********/

/************ new dashboard *************/

.main-dashboard .navbar {box-shadow: none; background-image: linear-gradient(to bottom, rgba(220,188,77,1), rgba(157,126,47,1)) !important; padding: 15px;}
.block-menu {/*position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);*/}
.block-menu-list {display: flex; flex-wrap: wrap;}
.block-menu-list li{width: 33.33%; padding: 25px;}
.block-menu-list li a{display: block;}
.block-menu-list .bottom-border{border-bottom: 2px solid #debd4e;}
.block-menu-list .left-border{border-left: 2px solid #debd4e;}
.block-menu-list span{display: block; color: #a9abae;}
.block-menu-list img{height: 125px;}


.main-dashboard #sidebarCollapse {width: unset; height: unset; background: no-repeat; cursor: pointer; border-radius: 0;}

/************ new dashboard *************/

/***** recurit-section-5 start***********/
.recurit-section-5 {background-color: #7a9ae3;}
.recurit-section-5-table {border-collapse: separate;border-spacing: 0 10px; width: 100%;}
.recurit-section-5-table thead tr {background-color: #7a9ae3;}
.recurit-section-5-table .function-name-bg {background-color: #bfd2ff;}
.recurit-section-5-table .jts-value-bg {background-color: #fff4cd;}
.recurit-section-5-table tr {transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; background-color: #fff;}
.recurit-section-5-table tr:hover {box-shadow: 0 10px 10px rgba(0,0,0,0.20); -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.20);}
.recurit-section-5-table td, .recurit-section-5-table th {padding:0.75rem; font-size: 1.1rem; color: #000000; width: 25%; font-weight: 600;}
.recurit-section-5-table td:first-child, .recurit-section-4-table th:first-child {border-radius: 2px 0 0 2px;  width: 25%;}
.recurit-section-5-table td:last-child, .recurit-section-4-table th:last-child {border-radius: 0 2px 2px 0; width: 100%;}
.recurit-section-5-table .fa-check{color: #149600; font-size: 1.25rem;}
.recurit-section-5-table .fa-times{color: #c80000; font-size: 1.25rem;}
.recruit-section-6-btn {width: 75%; font-size: 1rem; padding: 15px 30px;}
/***** recurit-section-5 end***********/








