<app-header></app-header>
<div class="padding-panel fuction-panel">
  <div class="container">
    <div class="page-heading text-center">
      <h1>「学校訪問記」</h1>
    </div>
    <div class="page-sub-heading text-center">
     
      <p>今日名古屋市内の美容専門学校２校訪問しました。</p>
      <p>来年度卒業生の中でネイリスト志願者をリサーチ。</p>
      <p>学校側からの美容サロンへの要望は「魅力ある美容サロン」</p>
      <p>「評価が高い」</p>
      「人気のある店」
      <p>などをあげる。</p>
      <p>当然受け入れ側もこれに答える必要があり、当店としても日々経営努力</p>。
      <p>スタッフが働きやすいか？店内（社内）のスタッフ教育は充実しているかなどが重要なテーマと考えられる。</p>
      <p>学校と店側とのミスマッチを防ぐためにも相互交流による情報共有がポイントになる。</p>
      <p>当方からの学校訪問を当然ながら学校側から当方見学も歓迎態勢へ準備。</p>
    </div>
  </div>
</div>
<app-footar></app-footar>