<div class="main top-space">


  <!---- registration Start ------->
  <div class="registration-panel padding-panel box-bg">
      
      <div class="container">

          <div class="white-bg">
              <div class="page-heading text-center"><h1>契約フォーム</h1></div>
              <div class="page-sub-heading text-center">
                  <h5 class="primary-color">
                     契約のお申し込み
                  </h5>
              </div>  
              <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-9">
                      <div class="row">
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">ふりがな :</label><label class="label-value">{{reg.kana}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">氏名 :</label><label class="label-value">{{reg.kanji}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">携帯番号 :</label><label class="label-value">{{reg.tel}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">メールアドレス :</label><label class="label-value">{{reg.email}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">生年月日   年    月    日 :</label><label class="label-value">{{reg.dob}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">パスワードを作成（半角英数６桁） :</label><label class="label-value">{{reg.password}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">パスワードを再入力（確認用） :</label><label class="label-value">{{reg.confirm_password}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">郵便番号 :</label><label class="label-value">{{reg.zip_code}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">住所 :</label><label class="label-value">{{reg.address}}</label>
                          </div>


                          <div class="col-sm-12 mb-30"><hr></div>

                          <div class="col-sm-12">
                              <div class="form-group">
                                <label>運転免許証の写真を表側、裏側を選択してアップロードしてください</label>
                              </div>
                          </div> 
                          <div class="col-sm-6 mb-30">
                            <label class="label-name">表 ：</label><label class="label-value"><img [src]="reg.dl_front_img" alt="frontimg"></label>
                        </div>
                        <div class="col-sm-6 mb-30">
                            <label class="label-name">裏 ：</label><label class="label-value"><img [src]="reg.dl_back_img" alt="backimg"></label>
                        </div>

                          <div class="col-sm-12 mb-30"><hr></div>

                          <div class="col-sm-12">
                              <div class="page-sub-heading text-center">
                                  <h5 class="primary-color">
                                     銀行口座情報入力 
                                  </h5>
                              </div>
                          </div>


                          <div class="col-sm-6 mb-30">
                              <label class="label-name">金融機関名 ：</label><label class="label-value">{{reg.bank_name}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">金融機関名（カナ）：</label><label class="label-value">{{reg.bank_name_kana}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">金融機関コード ：</label><label class="label-value">{{reg.bank_number}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">支店名 ：</label><label class="label-value">{{reg.branch}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">支店名（カナ） ：</label><label class="label-value">{{reg.branch_kana}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">支店コード ：</label><label class="label-value">{{reg.branch_code|json}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">預金種類 ：</label><label class="label-value">{{reg.what_kind_of_bank}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">口座番号 ：</label><label class="label-value">{{reg.account_number}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">口座名義（カナ） ：</label><label class="label-value">{{reg.account_holder_name_kana}}</label>
                          </div>
                          <div class="col-sm-6 mb-30">
                              <label class="label-name">口座名義 ：</label><label class="label-value">{{reg.account_holder_name}}</label>
                          </div>


                           <div class="col-sm-12 mb-30"><hr></div>

                          
                          <div class="text-center col-sm-6 mb-30">
                              <a routerLink="/register" class="btn join-us-btn btn-black">情報を修正する</a>
                          </div>
                          <div class="text-center col-sm-6">
                              <!-- <button class="btn btn-primary" routerLink="/thanks" >申し込む</button> -->
                              <a routerLink="/thanks" class="btn join-us-btn">申し込む</a>
                          </div>


                      </div>
                  </div>
              </div>
          </div>
          
      </div>           

  </div>
  <!---- registration Start ------->

</div>