<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="assets/images/profile-image.png" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">Welcome</div>
                    <div class="profile-usertitle-status">Majestic Beauty</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <ul class="list-unstyled components left-menu">
           <li><a href="#">Calenders</a></li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Shop</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
            <li><a href="#">Customer List</a></li>
            <li><a href="#">Jts Staff</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Budget</a></li>
            <li><a href="#">Expenses</a></li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Logout</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                    <!-- <img src="images/icons/menu-icon.png"> -->
                </button>
                <a class="navbar-brand" href="#"><img src="assets/images/jts-board-logo.png"></a>                   
                <a href="#" class="user-profile"><i class="far fa-user"></i></a>
            </div>
        </nav>

        <div class="page-title">
            <div class="container">
                <h4 class="">Customer List</h4>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                
                <div class="panel panel-default bg-light-cyan">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Last Name" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="First Name (Kana)" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Last Name (Kana)" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Birthday" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Age" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Phone Number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected="selected" disabled="disabled">Sex</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Customer Number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected="selected" disabled="disabled">Staff</option>
                                        <option>Staff 1</option>
                                        <option>Staff 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Las Visit (From)" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Las Visit (To)" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Number of visits more than once" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Number of visits less than" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <a href="#" class="btn btn-black">Clear</a>
                                <a href="#" class="btn ml-20">Search</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-table">
                    <div class="panel-body">
                        <table class="table table-custom mb-0" style="width:100%" >
                            <thead>
                                <tr class="bg-light-cyan">
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Updated Date & Time</th>
                                    <th>Service</th>
                                    <th>Last Visited</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                            <!-- <li>
                                                <a href="/customers/edit/124" title="Edit Customer" alt="Edit Customer"><i class="fas fa-pencil-alt "></i></a>
                                            </li>
                                            <li>
                                                 <a href="/customerhistories/get_customer_analysis_dates/124" class="" title="View Note" alt="View Note"><i class="far fa-sticky-note"></i></a>      
                                             </li> -->
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>0123456789</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>Nail</td>
                                    <td>2019-01-16 19:48:20</td>
                                    <td>
                                        <ul class="action-icons">
                                            <li>
                                                <a href="#" title="View Customer" alt="View Customer" data-toggle="modal" data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i class="fas fa-eye"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
                           
        </div>
    </div>
</div>

<footer class="footer text-center">
    Copyright © <a href="#">Zein El Dine International</a> 2019. All right reserved. 
</footer> 

