<app-header></app-header>
<div class="about-panel gray-bg panel-padding">
  <div class="container">
      <h1 class="main-heading text-center mb-20">AIが店長となる時代へ・・・</h1>
      <h5 class="sub-heading text-center mb-50">「AIによる美容サロン経営マネジメントセミナー」</h5>
      <div class="row">
          <div class="col-sm-2 mb-30">
              <p>日時</p>
              <p>場所</p>
          </div>
          <div class="col-sm-8">
            <p>
              ２０１９年６月12日（水）　１３時〜１５時
            </p>
            <p>
              ウインクあいち　11回第３会議室
            </p>
          </div>
      </div>
      <h5 class="main-heading text-center mb-20">愛知県名古屋市中村区名駅4丁目4−38</h5>
      <h5 class="sub-heading text-center mb-50">TEL 052−571−6131（JR地下鉄、近鉄、名鉄　名古屋駅より徒歩２分）</h5>
  </div>
</div>
<!---------- about panel--------->

<!---------- app links panel--------->
<div class="app-links-panel panel-padding border-bottom">
    <div class="container">
        <h1 class="main-heading text-center mb-20">セミナー概要</h1>
        <h5 class="sub-heading text-center mb-20">「AIが店長となる時代へ・・・」</h5>
        <h5 class="sub-heading text-center mb-50">日本初！！AI掲載のJTSボードの活用によるサロンマネジメント改革セミナーです。</h5>
        <h5 class="sub-heading text-center mb-50">JTSボードは、次世代の経営マネジメントシステムです。</h5>
    </div>
</div>
<!---------- app links panel--------->


<!---------- function panel--------->  
<div class="gray-bg panel-padding fuction-panel">
  <div class="container">
      <h1 class="main-heading text-center mb-20"> こんな課題をお持ち方にオススメ！</h1>
      <h5 class=" text-center mb-50">・店長やマネージャーが見つからないサロン経営者様</h5>
      <h5 class=" text-center mb-50">・経費管理や売上管理が苦手な店長やサロン経営者様</h5>
      <h5 class=" text-center mb-50">・お客様のリピート率や店舗売上を上げたいとお考えのサロン様</h5>
      <h5 class=" text-center mb-50">・最先端の人工知能の力でサロンの作業効率を上げたいサロン様
        JTSボード掲載機能</h5>
      <ul class="fuction-list">
          <li>
              <a href="" class="AI-function">
                  <img src="../assets/images/icons/home/AI.png"><br>人工知能
              </a>
          </li>
          <li>
              <a href="" class="form-function">
                  <img src="../assets/images/icons/home/form.png"><br>カルテ
              </a>
          </li>
          <li>
              <a href="" class="customer-list-function">
                  <img src="../assets/images/icons/home/customer-list.png"><br>顧客管理
              </a>
          </li>
          <li>
              <a href="" class="calendar-function">
                  <img src="../assets/images/icons/home/calendar.png"><br>カレンダー
              </a>
          </li>
          <li>
              <a href="" class="staff-function">
                  <img src="../assets/images/icons/home/staff.png"><br>スタッフ
              </a>
          </li>
          <li>
              <a href="" class="sales-function">
                  <img src="../assets/images/icons/home/sales.png"><br>売上集計
              </a>
          </li>
          <li>
              <a href="" class="expenses-function">
                  <img src="../assets/images/icons/home/expenses.png"><br>経費
              </a>
          </li>
          <li>
              <a href="" class="budget-function">
                  <img src="../assets/images/icons/home/budget.png"><br>予算
              </a>
          </li>
          <li>
              <a href="" class="chat-function">
                  <img src="../assets/images/icons/home/chat.png"><br>チャット
              </a>
          </li>
          <li>
              <a href="" class="gallery-function">
                  <img src="../assets/images/icons/home/gallery.png"><br>画像ギャラリー
              </a>
          </li>
      </ul>

      <h4><div class="text-center mb-40">以上の機能を簡単に利用できるため、サロン運営のあらゆる問題を解決いたします</div></h4>

  </div>
  </div>

<!---------- function panel ----------->


<!---------- cost panel ----------->
<div class="panel-padding cost-panel">
    <div class="container">
         <h1 class="main-heading text-center mb-20">申し込みはQRコードより</h1>
        
        <div class="basic-plan-panel">
          <form>
            <ul class="basic-plan-list">
               <li>
                  <input class="form-control" placeholder="店名">
               </li>
               <li>
                <input class="form-control" name="Industry" placeholder="業種">
               </li>
               <li>
                <input class="form-control" name=" address" placeholder="住所〒">
               </li>
               <li>
                 <input class="form-control"   name="Participant" placeholder="ご参加者　"> 
                </li>
                <li>
                <input class="form-control" name=" position" placeholder="住所〒">
                </li>
                <li>
                <input class="form-control" name="Contact information" placeholder="ご連絡先">
                </li>
            </ul>
          </form>
            <div class="text-center mb-40">
                <a href="#" class="btn">Submit</a>
            </div>
        </div>

    </div>
</div>
<!---------- cost panel ----------->



        <div class="app-links-panel panel-padding border-bottom">
          <div class="container">
              <h1 class="main-heading text-center mb-20">締め切り６月４日（水）</h1>
              <h5 class="sub-heading text-center mb-20">主催者：ゼンエルディーンインターナショナル　合同会社</h5>
              <h5 class="sub-heading text-center mb-50">〒450-0003 愛知県名古屋市中村区名駅南3丁目3−21BIANCASA水主町2階</h5>
              <h5 class="sub-heading text-center mb-20">www.zedinternational.net</h5>
              <h5 class="sub-heading text-center mb-20">TEL:052-485-4301</h5>
              <h5 class="sub-heading text-center mb-20">FAX:052-485-4302</h5>
              <h5 class="sub-heading text-center mb-20">Mail:info@zedinternational.net</h5>
          </div>
      </div>
      <app-footar></app-footar>