<app-header></app-header>
<div class="main top-space">

    <div class="function-image-panel header-image-panel">
        <img class="d-none d-md-block" src="../../assets/images/header-img/function.jpg">
        <img class="d-block d-md-none" src="../../assets/images/header-img/function-m.jpg">
    </div>

    <div class="padding-panel">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="case-study-item box-shadow mb-30">
                <div class="news-date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="../../assets/images/case-study/Hair-Salon.jpg">
                <div class="cs-content">
                    <h6>美容室</h6>
                    <hr>
                    <p>お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。</p>
                    <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a>
                    <hr>
                    <div class="text-right news-comment-time">
                      <span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span>
                      <span class="comments ml-10"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  
  </div>
<app-footar></app-footar>