<div class="wrapper main-dashboard">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
          <div class="profile-sidebar">
              <div class="profile-userpic">
                  <img src="../../assets/images/profile-image.png" class="img-responsive" alt="">
              </div>
              <div class="profile-usertitle">
                  <div class="profile-usertitle-name">Welcome</div>
                  <div class="profile-usertitle-status">Majestic Beauty</div>
              </div>
              <div class="clear"></div>
          </div>
      </div>
  
      <ul class="list-unstyled components left-menu">
         <li><a href="#">Calenders</a></li>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Shop</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
              </ul>
          </li>
          <li><a href="#">Customer List</a></li>
          <li><a href="#">Jts Staff</a></li>
          <li><a href="#">Sales</a></li>
          <li><a href="#">Budget</a></li>
          <li><a href="#">Expenses</a></li>
      </ul>
  
      <ul class="list-unstyled CTAs">
          <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Logout</a></li>
      </ul>
  </nav>
    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-80">
            <div class="container-fluid">
                <!-- <button type="button" id="sidebarCollapse" class="navbar-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </button> -->
                <button type="button" id="sidebarCollapse" class="navbar-btn active">
                    <img src="../../assets/images/icons/menu-icon.png">
                </button>
               <!--  <a class="navbar-brand" href="#"><img src="images/jts-board-logo.png"></a>                   
                <a href="#" class="user-profile"><i class="far fa-user"></i></a> -->
            </div>
        </nav>
        <div class="main-content">
            <div class="container">
                <div class="text-center block-menu">
                    <img class="mb-80" src="../../assets/images/jts-board-logo-big.png">
                    <ul class="block-menu-list"> 
                        <li class="bottom-border">
                            <a routerLink="/admin/customerlist">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/customer-list.png">
                                <span>顧客情報</span>
                            </a>
                        </li>
                        <li class="bottom-border left-border">
                            <a routerLink="/admin/sechduler">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/calendar.png">
                                <span>カレンダー</span>
                            </a>
                        </li>
                        <li class="bottom-border left-border">
                            <a href="#">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/sales.png">
                                <span>販売</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/expenses.png">
                                <span>経費</span>
                            </a>
                        </li>
                        <li class="left-border">
                            <a href="#">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/analytics.png">
                                <span>分析学</span>
                            </a>
                        </li>
                        <li class="left-border">
                            <a href="#">
                                <img class="mb-20" src="../../assets/images/icons/dashboard/attendance.png">
                                <span>出勤 退勤</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  
   <footer class="footer text-right">
        Copyright © <a href="#">Zein El Dine International</a> 2019. All right reserved. 
    </footer> 