<app-header id="navbar"></app-header>
<div class="main top-space">
    <div class="newspaper-panel box-bg padding-panel">
        <div class="container">
            <div class="page-heading text-center">
                <h1>サロン開業に必要なこと①～サロンカルテは活用できていますか？？～</h1>
            </div>
            <div class="row">
                <div class="col-sm-8 col-lg-6 mb-30">
                    <p class="mb-10">先日、エステオーナーさんと話していて気付いたことがありました。</p>
                    <p class="mb-10">お客様の満足度を高めるために欠かせないカウンセリングですが</p>

                    <p class="mb-10">普段、みなさんはどのようにお客様とコミュニケーションをとっていますか？？</p>

                    <p class="mb-10">お客様にぴったりなサービスを提供するためには</p>
                    <p class="mb-10">この“質問”はとても重要なのです。</p>
                    <p class="mb-10">どんなサービスを求めているか</p>
                    <p class="mb-10">どんな結果を欲しているのか</p>

                    <p class="mb-10">解決したいコンプレックスは？</p>
                    <p class="mb-10">どんなホスピタリティを必要としているか</p>

                    <p class="mb-10">お客さんが本当に求めているものを提供できるサロンになれば、</p>
                    <p class="mb-10">お客さんにとって必要不可欠なサロンとなり、</p>

                    <p class="mb-10">
                        最終的に顧客満足度をアップさせることにつながります。</p>
                    <p class="mb-10">大切なことはお客さんにとって価値のあるサロンになることです。</p>

                    <p class="mb-10">エステ以外でのサービスでも同様です。</p>
                    <p class="mb-10">また時として、お客様自体もニーズも不明確、かなりざっくりしているケースも多いでしょう。</p>
                    <p class="mb-10"> そのざっくりなイメージを言語化する、</p>
                    <p class="mb-10">引き出す話術もとても重要です。</p>
                    <p class="mb-10">ところで、、、、</p>
                    <p class="mb-10">おそらく日本では紙のカルテを使用しているサロン様が未だ６０％ほどでしょうか。</p>
                    <p class="mb-10">大切なお客様のデータ。</p>
                    <p class="mb-10">紙を束ねたまま眠らせて、、、、</p>
                    <p class="mb-10">こんな状態になっていませんか？？</p>


                    <p class="mb-10"><a href="https://jtsboard.com/">JTBBoardはもちろん電子カルテもついています。</a></p>
                    <p class="mb-10">次回はデータの活用法についてお伝えしますね！</p>
                    <p class="mb-10">サロン開業を考えてる方にお役立ちな情報を配信いたします♪</p>
                </div>
                <div class="col-sm-4 col-lg-6 mb-30"><img src="../../assets/images/app-blog/new-blog6page.jpg"></div>
            </div>
        </div>
    </div>
</div>
<app-footar></app-footar>