<app-header id="navbar"></app-header>
<div class="main top-space">
<div class="newspaper-panel box-bg padding-panel">
    <div class="container">
        <div class="page-heading text-center"><h1>「学校訪問記」</h1></div>
        <div class="row">
            <div class="col-sm-8 col-lg-6 mb-30">
              <p>今日は私のサロンでも使っている集客広告媒体ホットペッパービューティーのお話。</p>
              <p>サロン経営で、</p>
              <p>集客で頼りにしているのが</p>
              <p><span class="head-h">ホットペッパービューティー</span>ですよね。</p>
              <p>多分ほとんどのサロン様が利用したことある。もしくは</p>
              <p>利用中。ですよね！！</p>
              <p>私も利用させていただいて、2年くらいですが、</p>
              <p>新規集客には本当にありがたい広告媒体です。</p>
              <p>が・・・</p>
              <p>しかし・・・</p>
              <p>掲載料が高い！！！</p>
              <p>そして、</p>
              <p class="color-red">お客様がうちのサロンが予約できなかったら、すぐに他のサロンに浮気しやすい環境がある！！！</p>
              <p>っていう点。</p>
              <p>本当に値段競争に走ってしまうと、怖い未来が待ち受けている・・・</p>
              <p>ホットペッパーを使うことは必要だと思う。</p>
              <p>でも新規客だけ頼って、既存客を増やさないと、</p>
              <p>先がとーーっても、怖いんです。</p>
              <p>ホットペッパーをうまく使って、</p>
              <p>サロンのファン、リピート顧客様を作る。</p>
              <p>これにフォーカスして、日々お客様にサービスをすることがほんと大事！！！</p>
              <p>たくさんある美容サロンの中から選んでいただき、</p>
              <p>さらにずっと通っていただくこと。</p>
              <p>これができたら、この先ホットペッパービューティーをやめても</p>
              <p>怖くない！！！</p>
              <p>リピートする仕組みも大事。</p>
              <p>リピートしていただく環境やスタッフも大事。</p>
              <p>リピートしていただくために、</p>
              <p>色ーーんなことを仕掛けていかなければ、</p>
              <p>この先選んでもらえなくなってしまいます。</p>
              <p>だから、みんなSNSを使って、（特に今はインスタグラムね。）サロンの情報発信をして、</p>
              <p>LINE@で直接お客様と連絡をとり、</p>
              <p>メニューやアートを毎月更新して、</p>
              <p>来たお客様を飽きさせない工夫をする。</p>
              <p>ねーーねーー、その業務ってすっごい地道にコツコツ、</p>
              <p>多分私たちビューティシャンやネイリストって、</p>
              <p>空き時間や自分の時間を削って、業務的な仕事いーーっぱいしていませんか？</p>
              <p>だから、疲れちゃって、</p>
              <p>良いパフォーマンスできないんだよね。</p>
              <p>って、いつも思っているんです。</p>
              <p>当たり前の日常を見直しても良いんじゃないかなぁ？？？</p>
              <p>と、</p>
              <p>真面目な私たちサロンに務める技術者は、</p>
              <p>真面目にコツコツから、</p>
              <p>少し、楽することも大事なんですよね。</p>
              <p>そーーして、考えたのが、</p>
              <h2 class="primary-color">AI</h2>
              <p>なんです。</p>
              <h2 class="head-h">人工知能ってすごくって、</h2>
              <p>　AIが自分で考えて、提案してくれたり、作業を変わってしてくれるっていうんだから、</p>
              <p>私たちも頼れるAIがいたら良いなってね。</p>
               
              <p>本当に、</p>
              <p>こうやって考えてる間に、きっと誰かが開発しているんだと思うけど、</p>
              <p>そんなAIが自分をアシストしてくれる時代がほんとすぐそこまで来てると思ってます。</p>
               
              <p><u>最初に話したホットペッパービューティー頼みの集客から、</u></p>
              <p><u>いつかこれを止めるために・・・！！！</u></p>
              <p><u>ってこと真剣に考えて、</u></p>
              <p><u>たどり着いたアイディアが、</u></p>
              <p><u>リピートを増やして、ファンに支持されるサロン作り。</u></p>
              <p><u>そして、</u></p>
              <p><u>マネージャーをAIがしてくれる！！！</u></p>
               
               
              <p>そんな妄想・・・</p>
              <p>本当に楽しいな。</p>
              <p class="mb-20">未来はこういう発想から変わっていくと信じてます。</p>
              <h2 class="color-pink" >ロボットやAI　✖︎　美容</h2>
              <p>これが私の目指す未来です。</p>
<p>まだまだ未来は明るいですよ、私たちの美容業界は！！！</p>
<p>夢のような楽しいワクワクなお話、</p>
<p>興味持ってくれた方は、コメントお待ちしています。</p>
<p>AIと一緒に働くことを夢みている、大原めぐみでした。</p>
<h5><u>ネイリスト募集中</u></h5>
<p>マジェスティックビューティー求人情報</p>
<p>お問い合わせ　０５２−４８５−４３０１</p>
<p>給与：<br>
        正社員・契約社員 月給 158,400円〜600,000円<br>
        アルバイト・パート 時給 900円〜2,000円
</p>
<p>（経験者➡️264,000円〜、未経験・検定無し➡️158,400円）</p>
<p>最初の3ヶ月は契約社員でのスタートとなります。 <br>
        3ヶ月ごとに昇級などの面談、技術チェックを行います。</p>
        <p> 勤務時間：<br>
            10時から22時の間でシフト制（労働時間8時間）</p> 
               <p>休日：<br>
                シフト制、週休二日制、有給休暇あり</p>
                
                <p>待遇：<br>
                社会保険完備<br> 
                昇給、昇進 <br>
                交通費上限15,000円 <br>
                制服あり <br>
                海外出張や研修あり<br>
                育児休暇ありボーナス・賞与ありインセンティブありノルマなし社会保険完備交通費支給独立・開業支援研修制度あり制服あり海外研修あり
        </p>
                <p>
                    会社情報：<br>
                    会社名 ゼンエルディーンインターナショナル合同会社<br>
                    会社所在地 〒450-0003<br>
                    愛知県名古屋市中村区名駅南3丁目3-21 BIANCASA水主町2階<br>
                </p>
            </div>
            <div class="col-sm-4 col-lg-6 mb-30"><img src="../../assets/images/app-blog/jts_ai_blog.jpg"></div>
        </div>
    </div>
</div>
</div>
<app-footar></app-footar>