<div class="main">
        
  <div class="thank-panel box-bg">
      <div class="thank-inner-panel">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8">
                      <div class="thank-content text-center b-s">
                          <h1 class="mb-50">Thank You! <i class="fas fa-check"></i></h1>
                          <h5 class="mb-50">登録していただきありがとうございました。<br>メールにてあなたのセールスコードをお送りいたします。<br>ご確認よろしくお願い致します</h5>
                          <div class=""><a routerLink="/" class="btn">ホームに戻る</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>        
  </div>

</div>
