<app-header></app-header>

<div class="main">

<!---- slider start here ------------>
<div class="slider-outer">
    <div id="owl-demo" class="owl-carousel">
        <div class="item slider-itme1">
            <div class="slider-face"><img src="../../assets/images/slider-img/slider-face.png" alt=""></div>
            <div class="slider-content">
                <div class="container">
                    <div class="slider-content-inner">
                        <h1 class="mb-60">サロン業務をAIが代行</h1>
                        <h2 class="mb-60">オールイン・ワン・パッケージ</h2>
                        <h4 class="mb-60">顧客管理・売上管理・経費管理・勤怠管理・目標管理</h4>
                        <ul class="top-app-links">
                            <li><a href="#"><img src="../../assets/images/app-links-img/app-store-btn.png"></a></li>
                            <li><a href="#"><img src="../../assets/images/app-links-img/google-play-btn.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---- slider end here ------------>


<!--- about panel start ---------->
<div class="about-panel">
    <div class="about-inner-panel white-over padding-panel">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-9 col-xl-8">
                    <div class="page-heading text-center"><h1>JTS Boardとは何か？</h1></div>
                    <div class="page-sub-heading text-center">
                        <h5>
                            サロン運営に必要な業務、カルテの管理、売上管理、勤怠管理はもちろん<br>
                            サロン業務に関わる全ての問題を解決するアプリです。<br>
                            日々の履歴からAIが更なる売上UP＆効率UPのためのサポートを行います。
                        </h5>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-lg-9 col-xl-8">
                           
                            <ul class="fuction-list">
                                <li>
                                    <a href="" class="form-function">
                                        <img src="../../assets/images/icons/form.png"><br>カルテ
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="calendar-function">
                                        <img src="../../assets/images/icons/calendar.png"><br>カレンダー
                                    </a>
                                </li>

                                <li>
                                    <a href="" class="sales-function">
                                        <img src="../../assets/images/icons/sales.png"><br>売上集計
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="expenses-function">
                                        <img src="../../assets/images/icons/expenses.png"><br>経費
                                    </a>
                                </li>

                                <li>
                                    <a href="" class="staff-function">
                                        <img src="../../assets/images/icons/staff.png"><br>スタッフ
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="chat-function">
                                        <img src="../../assets/images/icons/chat.png"><br>チャット
                                    </a>
                                </li>
                            </ul>

                            <div class="text-center mt-20 mb-30"><a href="#" class="btn">ここにリスト</a></div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<!--- about panel end ---------->


<!--- AI panel start ---------->
<div class="AI-panel">
    <div class="AI-inner-panel black-over padding-panel">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 col-sm-10">
                    <div class="white-bg text-center mb-30">
                        <div class="comment-box"><img src="../../assets/images/comments-box.png"><h2>業界初</h2></div>
                        <div class="page-heading text-center"><h1>AIだからできること</h1></div>
                        <div class="page-sub-heading text-center">
                            <h5>
                                AIがお客様の行動や特徴を把握し、<br>
                                スタッフとの相性を読み取り、どのスタッフが入客するか？と判断します<br>
                            
                                スタッフのシフト決めをAIが行うことはもちろん<br>
                                日々の業務に関する質問にAIが返信します
                            </h5>
                        </div>
                        <div class="help-suppoer-img">
                            <img src="../../assets/images/help-support-screen.png">
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>
<!--- AI panel end ---------->


<!--- Advantage panel start ---------->
<div class="advantage-panel box-bg padding-panel">  
    <div class="container">
        <div class="page-heading text-center"><h1>導入した際のメリット</h1></div>
        <ul class="advantage-list">
            <li><img src="../../assets/images/icons/graph-icon.png" class="mr-40">大幅なコスト削減が可能に</li>
            <li>既存客への効率的アプローチでリピート率UP</li>
            <li>スタッフマネジメントの効率化</li>
        </ul>
    </div> 
</div>
<!--- Advantage panel end ---------->


<!--- compare panel start ---------->
<div class="compare-panel padding-panel">   
    <div class="container">
            <div class="page-heading text-center"><h1>機能比較</h1></div>
        <div class="compare-table-b">
            <table class="compare-table mb-30">
                <thead>
                    <tr>
                        <th><h4>機能</h4></th>
                        <th><img src="../../assets/images/compare-logo/coming-soon.png"></th>
                        <th><img src="../../assets/images/compare-logo/salon-board.png"></th>
                        <th><img src="../../assets/images/compare-logo/bionly.png"></th>
                        <th><img src="../../assets/images/compare-logo/salon-connect.png"></th>
                        <th><img src="../../assets/images/compare-logo/jts-board.png"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="function-name-bg">カレンダー</td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">売上管理</td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">経費管理</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">顧客カルテ</td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">チャット</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">ギャラリー</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">ロゴ付き画像作成</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">出退勤</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">労働時間の集計</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">PC/IOS/Androidアプリケーション</td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">AI</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td class="function-name-bg">商品管理</td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-times" aria-hidden="true"></i></td>
                        <td><i class="fas fa-check" aria-hidden="true"></i></td>
                        <td class="jts-value-bg"><i class="fas fa-check" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--- compare panel end ---------->


<!--- app screen panel start  ---------->
<div class="app-screen-panel padding-panel box-bg">
    <div class="container">
        <div class="page-heading text-center"><h1>導入方法</h1></div>
        <div class="page-sub-heading text-center">
            <h5>
                JTSボードの導入方法について。まずは下のアプリをダウンロード！全てのデバイスでご利用可能です。<br>
                パソコン/IOS/Androidモバイルアプリケーション/タブレット）
            </h5>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="mb-30 app-screen">
                    <img class="d-none d-sm-inline" src="../../assets/images/app-img/web.png">
                    <img class="d-inline d-sm-none" src="../../assets/images/app-img/web-m.png">
                </div>
                <div class="mb-30 app-link-btn">
                    <a href="#"><img src="../../assets/images/app-links-img/web-app-btn.png"></a>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="mb-30 app-screen">
                    <img src="../../assets/images/app-img/ipad-iphone.png">
                </div>
                <div class="mb-30 app-link-btn">
                    <a href="#"><img src="../../assets/images/app-links-img/app-store-btn.png"></a>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="mb-30 app-screen">
                    <img src="../../assets/images/app-img/android-tablet.png">
                </div>
                <div class="mb-30 app-link-btn">
                    <a href="#"><img src="../../assets/images/app-links-img/google-play-btn.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- app screen panel end ---------->

<!--- case study panel start ---------->
<div class="case-study-panel padding-panel">

    <div class="container">

        <div class="page-heading text-center"><h1>導入例</h1></div>
        <div class="page-sub-heading text-center">
            <h5>
                JTSボードを導入するとオーナー、スタッフの作業を減らし、管理が簡単スムーズに。
            </h5>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">                        
                <div class="case-study-item box-shadow mb-30">
                    <img src="../../assets/images/case-study/Hair-Salon.jpg">
                    <div class="cs-content">
                        <h6>美容室</h6>
                        <hr>
                        <p class="more">お客様ごとに紙のカルテを保管。カルテを探す手間に費やす時間やカルテの保管場所を確保するのは大変です。電子カルテなら、スマホやタブレットから、簡単にお客様のカルテを見ることができます。今までのヘアスタイルを写真で保管したり、使用したカラー剤や薬品名を簡単に調べることができます。写真の保管枚数は無限大。お客様への接客や技術に集中できて、顧客満足度は上がります。</p>
                        <!-- <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">                        
                <div class="case-study-item box-shadow mb-30">
                    <img src="../../assets/images/case-study/Nail-Salon.jpg">
                    <div class="cs-content">
                        <h6>ネイルサロン</h6>
                        <hr>
                        <p class="more">固定客を増やし、売上を上げ、生産性を上げるためには、リピートしていただける接客が必要です。また来たい！と思っていただくには、他のサロンにはない、価値をつけた接客、技術が必要です。JTS board を使い、顧客管理を行うことで、施術毎の会話内容や、注意点など、細かくメモを残すことができます。来店周期や、支払金額など、知りたい情報を、すぐに確認することができます。</p>
                        <!-- <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">                        
                <div class="case-study-item box-shadow mb-30">
                    <img src="../../assets/images/case-study/Eyelash-Salon.jpg">
                    <div class="cs-content">
                        <h6>アイラッシュサロン</h6>
                        <hr>
                        <p class="more">日別、月別、スタッフ別に売上を確認することができます。リピート率や来店周期や来店回数など、知りたい内容をすぐに検索できます  </p>
                        <!-- <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">                        
                <div class="case-study-item box-shadow mb-30">
                    <img src="../../assets/images/case-study/Aesthetic-Salon.jpg">
                    <div class="cs-content">
                        <h6>エステサロン</h6>
                        <hr>
                        <p class="more">様々な広告媒体に掲載すると、予約管理は大変。一つの管理画面で管理出来たらいいな！を叶えました。例えばホットペッパーからの予約、電話予約、次回予約…と、予約経路がバラバラでは、予約ミスを招いてしまう可能性があります。そこで、JTSボードは、ホットペッパービューティからの予約をJTSボードのカレンダーに自動送信。管理が楽になります。 </p>
                        <!-- <a href="#" class="">続きを読む <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>                   
        </div>
        <div class="text-center mt-20 mb-30"><a href="#" class="btn">ここにリスト</a></div>

    </div>

</div>
<!--- case study panel end ---------->


<!--- salon voice start ---------->
<div class="salon-voice-panel black-over padding-panel">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 col-sm-9">
                <div class="white-bg text-center mb-30">                                
                    <div class="page-heading text-center"><h1>導入サロン</h1></div>
                    <div class="page-sub-heading text-center"><h5> マジェスティックビューティ ネイリストの声</h5></div>                                    
                    <p class="mb-30">JTSボードを導入して、お客様の来店履歴や過去のデザインを全スタッフで共有できるため、お客様の特徴や、好みをアプリを開くだけで把握できます。お客様へのデザインやカラー提案をしやすくなりました。お客様を理解して提案できるから、お客様の満足度が上がりました。</p>
                    <p>紙カルテだと、カルテへの記入が手間でしたが、JTSボードは、使った材料や、お客様のネイルを写真で保管できるため、1本だけ剥がれてしまいお直しをする時も、使用したカラージェルが何を使用したか、履歴を見ればわかるため、便利です。</p>      
                </div>
            </div>
        </div>
    </div>
</div>
<!--- salon voice end ---------->


<!--- newspaper start ---------->
<div class="newspaper-panel box-bg padding-panel">
    <div class="container">
        <div class="page-heading text-center"><h1>ニュース</h1></div>
        <div class="row">
            <div class="col-sm-8 col-lg-9 mb-30">
                <p class="mb-30">２０１９年２月６日付、中部経済新聞で当社展開事業に関する内容が、名古屋版（３面）に大きく取り上げられ話題。内容は当社展開事業中“美容サロン運営AIで管理”。</p>
                <p class="mb-30">人工知能（AI）を活用した美容サロン向け管理システムとして紹介。</p> 
                <p class="mb-30"> システム名は「JTSボード」。美容業界では店舗をマネジメントする人材不足が悩み。このシステムはこの課題に対応しており、顧客管理、スタッフ管理、店舗管理等に機能発揮しサロン運営の効率化を推進。</p> 
            </div>
            <div class="col-sm-4 col-lg-3 mb-30"><img src="../../assets/images/newspaper-img.jpg"></div>
        </div>
    </div>
</div>
<!--- newspaper end ---------->


 <!--- pricing start ---------->
<div class="pricing-panel">
    <div class="pricing-inner-panel padding-panel">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10 col-lg-8 mb-30">
                    <div class="page-heading text-center"><h1>費用・プラン</h1></div>
                    <div class="page-sub-heading text-center">
                        <h5>
                            カレンダー機能、シフト、予約、顧客管理、カルテ、レジ・会計、売上集計、分析、チャット、出退勤など充実の機能を 15,000円でご利用いただけます。
                        </h5>
                    </div>  
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-9">
                            <div class="basic-plans">
                                <div class="basic-plans-heading">基本プラン</div>
                                <ul class="basic-plans-list mb-30">
                                    <li>
                                        <a href="#"><span class="label-b">初期設定費用</span><span class="price-b">0 <span class="yen">円</span></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="label-b">初月利用料</span><span class="price-b">無料</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="label-b">月額利用料</span><span class="price-b">15,000 <span class="yen">円</span> 
                                            <span class="tax-label">(税抜き価格)</span> </span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>

    </div>
</div>
<!--- pricing end ---------->


<!--- contact us start ---------->
<div class="contact-us-panel padding-panel box-bg">
    <div class="container">
        <div class="white-bg mb-30">
            <div class="page-heading text-center"><h1>お問い合わせ</h1></div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb-30">
                                <input type="text" class="form-control" name="" placeholder="名前">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-30">
                                <input type="text" class="form-control" name="" placeholder="メールアドレス">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-30">
                                <input type="text" class="form-control" name="" placeholder="電話番号">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-30">
                                <input type="text" class="form-control" name="" placeholder="サロンの業種">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-30">
                                <textarea placeholder="メッセージ" cols="" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="text-center">
                                <a href="#" class="btn">送信する</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- contact us end ---------->
</div>

<app-footar></app-footar>
