<app-header id="navbar"></app-header>
<div class="main top-space">
<div class="newspaper-panel box-bg padding-panel">
    <div class="container">
        <div class="page-heading text-center"><h1>次世代のサロン管理システム</h1></div>
        <div class="row">
            <div class="col-sm-8 col-lg-6 mb-30">
             <p> こんにちは、広報担当のYUKIです。<br>
今日はサロン管理システムであるJTSBoardの機能的な<br>
部分をご紹介しますね！</p>

<p>
システムと聞くと、、、、<br>
みなさんどんな印象を持ちますか？</p>

<p>
難しそう？<br>
自分でやるから必要ない？</p>

<p>などなど</p>

<p>
実はサロン開業にあたって、<br>
何らかシステムを導入している割合は<br>
既に５０％を超えているんです。
</p>

<p>
予約システムだったりスタッフのシフト・勤怠、<br>
レジ機能など
</p>

<p>
システムというものはかなり身近で便利で<br>
コストをかけなくても利用できる<br>
ものになりました。
</p>

<p>
ただ問題点として<br>
・複数のシステムを並行して利用している<br>
ゆえに手間がかかる<br>
・使ってはいるが、使いこなせていない<br>
複雑なものが多い（特に分析機能など）
</p>

<p>
このようなポイントが挙げられます。
</p>

<p>
JTSBoradはそんな問題を解消、、、
</p>
<p>
・全てのサロン業務がたった１つのアプリで管理可能
</p>

<p>
そして<br>
多くのオーナー様たちが苦手とする<br>
“システムを使いこなす”“溜まったデータを活用する”<br>
これはAIがオーナー様に変わって行ってしまうのです。
</p>

<p>
ここが次世代サロン管理システムと言われるポイントです。
</p>


<p>
続きは次の記事でお伝えしていきますね♪
</p>
            </div>
            <div class="col-sm-4 col-lg-6 mb-30"><img src="../../assets/images/app-blog/blog4-big.png"></div>
        </div>
    </div>
</div>
</div>
<app-footar></app-footar>