<app-header id="navbar"></app-header>

<div class="main top-space">

    <div class="function-image-panel header-image-panel">
        <img class="d-none d-md-block" src="../../assets/images/header-img/function.jpg">
        <img class="d-block d-md-none" src="../../assets/images/header-img/function-m.jpg">
    </div>


    <div class="padding-panel fuction-panel">
        <div class="container">
            <div class="page-heading text-center"><h1>Lorem Ipsum is simply dummy text </h1></div>
            <div class="page-sub-heading text-center">
                <h5>
                    Lorem Ipsum is simply dummy text of the printing
                </h5>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/AI.jpg">
                    <p>AIが社長となり、アドバイスや指示を出してくれます。</p>
                    <p>JTSボードを使用することで、お客様の情報、売上げ、稼働率、リピート率、経過、予算、カルテからお店の状況やお客様の行動を把握。JTSボードを使い、情報を入力することでJTSボードがサロンのことを学び、アドバイスをしてくれます。
                    スタッフからの質問にAIが返事をします。</p>
                    <p>シフトはAIが管理します。</p>
                    <p class="mb-30">経費の使い過ぎを発見します。</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/calendar.jpg">
                    <p>カレンダー</p>
                    <p>お客様の予約管理を行います。今日１日の来店客リストを一覧で確認することが可能です。</p>
                    <p>お客様がご来店時は開始ボタン。施術終了時後は終了ボタンを押します。お客様の施術にかかった時間や、稼働率を管理します。</p>
                    <p>スタッフのシフト管理もカレンダーで行います。欠席スタッフを一目で確認できます。</p>
                    <p class="mb-30">ホットペッパーからの予約が直接入力されます。予約がかぶってしまう心配がありません。さらにＪＴＳボードに予約を入力後は、サロンボードの予約欄を自動でクローズします。

                    </p>
                </div>
              </div> <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/auto-reservation.jpg">
                    <p class="text-center mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</p>
                </div>
              </div>  
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/customer-form.jpg">
                    <p>カルテ</p>
                    <p>顧客情報を入力しデータとして保管できます。</p>
                    <p>紙のカルテは保管スペースを確保しなけばいけないため、場所をとります。膨大な量の紙カルテは資源の無駄です。</p>
                    <p>ペーパーレスのこの時代にJTSボードのカルテを使うことで全ての顧客情報をデータで管理できます。</p>
                    <p class="mb-30">来店履歴、施術した内容をメモに残すことができます。会話内容、お客様の好みや注意点。施術前や施術後のお写真など。枚数制限無く、保管ができます。</p>
                </div>
              </div>               
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/attendance.jpg">
                    <p>出退勤時間管理</p>
                    <p>スタッフの出勤、退勤をタブレットで行います。スタッフ毎に出勤時間、退勤時間、休憩時間、1日の労働時間、総労働時間など、一括で検索ができます。</p>
                    <p class="mb-30">給与計算や労働時間計算を簡単に行うことができます。</p>
                </div>
              </div>

              
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/expenses-budget.jpg">
                    <p class="text-center mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/sales.jpg">
                    <p class="text-center mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</p>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/gallery.jpg">
                    <p class="text-center mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/chat-support.jpg">
                    <p class="text-center mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type book.</p>
                </div>
              </div>

            </div>

        </div>
    </div>


</div>
<app-footar></app-footar>