
<app-header id="navbar"></app-header>

<div class="main top-space">

    <div class="function-image-panel header-image-panel">
        <img class="d-none d-md-block" src="../../assets/images/header-img/function.jpg">
        <img class="d-block d-md-none" src="../../assets/images/header-img/function-m.jpg">
    </div>


    <div class="padding-panel fuction-panel">
        <div class="container">
            <div class="page-heading text-center"><h1>サロン業務の全てをたった1つのアプリで管理 </h1></div>
            <div class="page-sub-heading text-center">
                <h5>
                  
                  感覚的にサクサクかんたん入力。
                  システムが苦手な方に選ばれています。
                </h5>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/AI.jpg">
                    <p class="mb-30 moref">AIが社長となり、アドバイスや指示を出してくれます。
                    JTSボードを使用することで、お客様の情報、売上げ、稼働率、リピート率、経過、予算、カルテからお店の状況やお客様の行動を把握。JTSボードを使い、情報を入力することでJTSボードがサロンのことを学び、アドバイスをしてくれます。
                    スタッフからの質問にAIが返事をします。<br>
                    シフトはAIが管理します。<br>
                    経費の使い過ぎを発見します。</p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/calendar.jpg">
                    <p class="mb-30 moref">カレンダー<br>
                      お客様の予約管理を行います。今日１日の来店客リストを一覧で確認することが可能です。<br>
                      お客様がご来店時は開始ボタン。施術終了時後は終了ボタンを押します。お客様の施術にかかった時間や、稼働率を管理します。<br>
                      スタッフのシフト管理もカレンダーで行います。欠席スタッフを一目で確認できます。<br>
                      ホットペッパーからの予約が直接入力されます。予約がかぶってしまう心配がありません。さらにＪＴＳボードに予約を入力後は、サロンボードの予約欄を自動でクローズします。

                    </p>
                </div>
              </div> <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/auto-reservation.jpg">
                    <p class="mb-30 moref">
                        自動予約システム ホットペッパービューティーからの予約をJTSボードに自動で追加。次回予約、電話予約、LINEからの予約管理がカレンダーで一覧できます。 さらにJTSボードに入力したお客様の予約をサロンボード（ホットペッパー予約システム）の予約欄にブランクを入れることが可能。使いやすくミスのない予約管理ができます。  
                    </p>
                </div>
              </div>  
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/customer-form.jpg">
                    <p class="mb-30 moref"> カルテ <br>
                      顧客情報を入力しデータとして保管できます。
                      紙のカルテは保管スペースを確保しなけばいけないため、場所をとります。膨大な量の紙カルテは資源の無駄です。<br>
                      ペーパーレスのこの時代にJTSボードのカルテを使うことで全ての顧客情報をデータで管理できます。<br>
                      来店履歴、施術した内容をメモに残すことができます。会話内容、お客様の好みや注意点。施術前や施術後のお写真など。枚数制限無く、保管ができます。</p>
                </div>
              </div>               
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/attendance.jpg">
                    <p class="mb-30 moref">出退勤時間管理<br>
                      スタッフの出勤、退勤をタブレットで行います。スタッフ毎に出勤時間、退勤時間、休憩時間、1日の労働時間、総労働時間など、一括で検索ができます。<br>
                      給与計算や労働時間計算を簡単に行うことができます。</p>
                </div>
              </div>

              
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/expenses-budget.jpg">
                    <p class="mb-30 moref">
                        経費・予算 毎月決まった固定経費を入力できます。 JTSボード内で経費入力を行うことで、今月の経費使用状況が一目で把握できます。
                    </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/sales.jpg">
                    <p class="mb-30 moref">
                        売上 今日の売上、累計売上を管理できます。<br>
                        サービスごと、スタッフごとの売上も簡単に確認できます。
                    </p>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/gallery.jpg">
                    <p class="mb-30 moref">
                        ギャラリー お客様の画像をカテゴリ別やスタッフ別で、保存できます。お気に入りの写真にお店のロゴなどを挿入することができるから、お店のロゴ入りの画像をSNSに簡単にアップできます。ネイル・ヘアー・アイラッシュ・エステのビフォーアフターなど、JTSボード内で保存してシェアできます。 
                    </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="app-screen-detail mb-40">
                    <img class="mb-20 b-s" src="../../assets/images/app-screens/chat-support.jpg">
                    <p class="mb-30 moref">
                        AIとのチャット・スタッフサポート お客様の情報や、サロン情報をAIが分析。分析結果をもとにスタッフに適切なアドバイスや、スタッフからの質問に答えます。AIとの会話はJTSボード内にあるチャットで行います。 スタッフ同士のチャットも可能です。プライベートなメッセージアプリを使用することなく仕事の連絡ができます。もちろん写真も添付可能です。 
                    </p>
                </div>
              </div>

            </div>

        </div>
    </div>


</div>

<app-footar></app-footar>