<app-header></app-header>

<div class="main top-space">

  <div class="function-image-panel header-image-panel">
        <img class="d-none d-md-block" src="../../assets/images/header-img/function.jpg">
        <img class="d-block d-md-none" src="../../assets/images/header-img/function-m.jpg">
  </div>


  <div class="padding-panel fuction-panel">
      <div class="container">
          <div class="page-heading text-center"><h1>機能</h1></div>
          <div class="page-sub-heading text-center">
              <h5>
                  サロン運営に必要な業務、カルテの管理、売上管理、勤怠管理はもちろん<br>
                  サロン業務に関わる全ての問題を解決するアプリです。<br>
                  日々の履歴からAIが更なる売上UP＆効率UPのためのサポートを行います。
              </h5>
          </div>

          <div class="row justify-content-center">
              <div class="col-md-12 col-8">

                  <ul class="fuction-list-inside">
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/AI.png"><br>AI
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/form.png"><br>カルテ
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/customer-list.png"><br>Customers
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/calendar.png"><br>カレンダー
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/staff.png"><br>スタッフ
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/sales.png"><br>売上集計
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/expenses.png"><br>経費
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/budget.png"><br>Budget
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/chat.png"><br>チャット
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="../../assets/images/icons/gallery.png"><br>Gallery
                          </a>
                      </li>
                  </ul>
              </div>
          </div>

      </div>
  </div>


</div>
<app-footar></app-footar>