<footer class="main-footer">
    <div class="footer-top">
    <div class="container">
    <div class="row">
    <div class="col-sm-4">
    <!-- <h3 class="footer-heading">Fuctions</h3> -->
    <ul class="footer-links">
    <li><a href="#">機能について</a></li>
    <li><a href="#">JTS boad とは？</a></li>
    <li><a href="#">AIについて</a></li>
    <li><a href="#">導入メリット</a></li>
    <li><a href="#">機能比較</a></li>
    <li><a href="#">導入方法</a></li>
    <li><a href="#">最適例</a></li>
    </ul>
    </div>
    <div class="col-sm-4">
    <!-- <h3 class="footer-heading">Fuctions</h3> -->
    <ul class="footer-links">
    <li><a href="#">導入サロン</a></li>
    <li><a href="#">費用・プラン</a></li>
    <li><a href="#">無料トライアル</a></li>
    <li><a href="#">お申し込み</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">リクルート</a></li>
    </ul>
    </div>
    <div class="col-sm-4">
    <!-- <h3 class="footer-heading">Fuctions</h3> -->
    <ul class="footer-links">
    <li><a href="#">プライバシーポリシー</a></li>
    <li><a href="#">利用規約</a></li>
    <li><a href="#">無料トライアル基本契約書</a></li>
    <li><a href="#">ボード基本契約書</a></li>
    <li><a href="#">運営会社</a></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    <div class="footer-bottom">
    <div class="container">
    <div class="text-center"><a class="footer-logo" href="#"><img src="../../assets/images/main-logo-header.png"></a><br>
    Copyright © <a href="#">Zein El Dine International</a> 2019. All right reserved. </div>
    </div>
    </div>
    <a href="#" id="back-top-button"><i class="fas fa-angle-up"></i></a>
    </footer>