
         <!------ footer strat here ------------->

         <footer class="main-footer">
          <div class="footer-top">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <h3 class="footer-heading">Fuctions</h3>
                          <ul class="footer-links">
                              <li><a href="#">Reservation management</a></li>
                              <li><a href="#">Customer management</a></li>
                              <li><a href="#">Cashier / Accounting</a></li>
                              <li><a href="#">Sales / summary</a></li>
                              <li><a href="#">Analysis</a></li>
                              <li><a href="#">Email</a></li>
                              <li><a href="#">Communication</a></li>
                              <li><a href="#">Support</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <h3 class="footer-heading">Fuctions</h3>
                          <ul class="footer-links">
                              <li><a href="#">Reservation management</a></li>
                              <li><a href="#">Customer management</a></li>
                              <li><a href="#">Cashier / Accounting</a></li>
                              <li><a href="#">Sales / summary</a></li>
                              <li><a href="#">Analysis</a></li>
                              <li><a href="#">Email</a></li>
                              <li><a href="#">Communication</a></li>
                              <li><a href="#">Support</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <h3 class="footer-heading">Fuctions</h3>
                          <ul class="footer-links">
                              <li><a href="#">Reservation management</a></li>
                              <li><a href="#">Customer management</a></li>
                              <li><a href="#">Cashier / Accounting</a></li>
                              <li><a href="#">Sales / summary</a></li>
                              <li><a href="#">Analysis</a></li>
                              <li><a href="#">Email</a></li>
                              <li><a href="#">Communication</a></li>
                              <li><a href="#">Support</a></li>
                          </ul>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <h3 class="footer-heading">Fuctions</h3>
                          <ul class="footer-links">
                              <li><a href="#">Reservation management</a></li>
                              <li><a href="#">Customer management</a></li>
                              <li><a href="#">Cashier / Accounting</a></li>
                              <li><a href="#">Sales / summary</a></li>
                              <li><a href="#">Analysis</a></li>
                              <li><a href="#">Email</a></li>
                              <li><a href="#">Communication</a></li>
                              <li><a href="#">Support</a></li>
                          </ul>
                      </div>
                     
                  </div>
              </div>
          </div>
          <div class="footer-bottom">
              <div class="container">
                  <div class="text-center"><a class="footer-logo" href="#"><img src="../../assets/images/main-logo-header.png"></a><br>
                      Copyright © <a href="#">Zein El Dine International</a> 2019. All right reserved. </div>
              </div>
          </div>
  
      </footer> 
      <!---------- footer end here ----------------->